<img *ngIf="name === 'Bronce 5' " src="../../../assets/images/bronze_1.png">
<img *ngIf="name === 'Bronce 4' " src="../../../assets/images/bronze_4.png">
<img *ngIf="name === 'Bronce 3' " src="../../../assets/images/bronze_3.png">
<img *ngIf="name === 'Bronce 2' " src="../../../assets/images/bronze_2.png">
<img *ngIf="name === 'Bronce 1' " src="../../../assets/images/bronze_1.png">

<img *ngIf="name === 'Plata 5' " src="../../../assets/images/silver_5.png">
<img *ngIf="name === 'Plata 4' " src="../../../assets/images/silver_4.png">
<img *ngIf="name === 'Plata 3' " src="../../../assets/images/silver_3.png">
<img *ngIf="name === 'Plata 2' " src="../../../assets/images/silver_2.png">
<img *ngIf="name === 'Plata 1' " src="../../../assets/images/silver_1.png">

<img *ngIf="name === 'Oro 5' " src="../../../assets/images/gold_5.png">
<img *ngIf="name === 'Oro 4' " src="../../../assets/images/gold_4.png">
<img *ngIf="name === 'Oro 3' " src="../../../assets/images/gold_3.png">
<img *ngIf="name === 'Oro 2' " src="../../../assets/images/gold_2.png">
<img *ngIf="name === 'Oro 1' " src="../../../assets/images/gold_1.png">

<img *ngIf="name === 'Platino 5' " src="../../../assets/images/platinum_5.png">
<img *ngIf="name === 'Platino 4' " src="../../../assets/images/platinum_4.png">
<img *ngIf="name === 'Platino 3' " src="../../../assets/images/platinum_3.png">
<img *ngIf="name === 'Platino 2' " src="../../../assets/images/platinum_2.png">
<img *ngIf="name === 'Platino 1' " src="../../../assets/images/platinum_1.png">

<img *ngIf="name === 'Diamante 5' " src="../../../assets/images/diamond_5.png">
<img *ngIf="name === 'Diamante 4' " src="../../../assets/images/diamond_4.png">
<img *ngIf="name === 'Diamante 3' " src="../../../assets/images/diamond_3.png">
<img *ngIf="name === 'Diamante 2' " src="../../../assets/images/diamond_2.png">
<img *ngIf="name === 'Diamante 1' " src="../../../assets/images/diamond_1.png">