<div class="col-lg-12" style="margin-top:5%;">
        <div class="col-sm-6 col-md-6 col-lg-3 text-center">

            <h4>Liga en la Season pasada</h4>
            <img-division name= {{currentName}}></img-division>

            <div style="margin-bottom:7%;">
                <p-dropdown [style]="{'width':'150px'}" [options]="divisions" [(ngModel)]="currentDiv" placeholder="Selecciona una division" (onChange)="changeCurrent()"></p-dropdown>
            </div>
            <div style="margin-top:7%;">
                <p-dropdown [style]="{'width':'150px'}" [options]="subDivsC" [(ngModel)]="currentSubDiv" placeholder="Selecciona una division" (onChange)="changeCurrentSub()"></p-dropdown>
            </div>


        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 text-center desired" >
            <h4>Cantidad de Victorias</h4>

            <p style="font-size:100px;">{{cantidadVictorias}}</p>
            <p-slider [(ngModel)]="cantidadVictorias" [style]="{'width':'250px'}" [animate]="true" [min]="1" [max]="10" (onChange)="calculateCost()"></p-slider>
            
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="text-center">
                    <h2>Tu Orden:</h2>

                    <ul>
                        <li>
                            <h3>{{cantidadVictorias}} Victorias - {{currentName}} en Season pasada </h3>
                        </li>
                        <li>
                            
                        <strong>
                            Costo total: <h3 style="color: green;"> {{costo}}$ </h3>
        
                        </strong>
                        </li>
                    </ul>
                </div>

                <div class="text-center">
                        <button type="button" class="hx-btn hx-btn-positive" id="btnPago" (click)="modal.open()">
                            Comprar
                        </button>
                        <modal #modal>
                                <modal-header>
                                        <h2>Datos de tu cuenta</h2>
                                </modal-header>
                                <modal-content>
                                    <div style="height:500px;">
                                            <form-modal tipo="netas" current="{{currentName}}" victorias="{{cantidadVictorias}}" costo="{{costo}}"></form-modal>
                                    </div>
                                </modal-content>
                        </modal>
                </div>
                
            <div style="padding-left:30%">
                    <img src="../../../assets/images/pagos.png" style="width:200px;">
            </div>


        </div>
    </div>