doctype html5	
html(lang="es")
	head
		title Hexacta forms e inputs
	
	body
		<partial-sidebar open= 'elementos'></partial-sidebar>
		div.container.hx-full-container
			div.main
				div#wrapper
					<!-- Sidebar -->

					div#page-content-wrapper
						div.container-fluid
							div.row
								div.hx-title
									h2.page__name Formularios
									p.section-description Ejemplos y pautas de uso para estilos de control de formulario, opciones de diseño y componentes personalizados para crear una amplia variedad de formularios.

								div.block
									h3.section__title Tipos

									<code-snippet titulo='Texto' htmlCode='formText'></code-snippet>
									p Un input estandar, define un campo de texto de una línea.
									div.panel.panel-default
										div.panel-body
											input(type="text" class="form-control" placeholder="Text input")

									<code-snippet titulo='Contraseña' htmlCode='formPassword'></code-snippet>
									p Define un input de contraseña que esconde los caracteres ingresados.
									div.panel.panel-default
										div.panel-body
											input(type="password" class="form-control" placeholder="Password input")

									<code-snippet titulo='Fecha y hora' htmlCode='formDateTime'></code-snippet>
									p Se utiliza para inputs que deben contener fecha y hora, permite ingresarla o seleccionarla.
									div.panel.panel-default
										div.panel-body
											input(type="datetime-local" class="form-control" placeholder="datetime-local input")

									<code-snippet titulo='Fecha' htmlCode='formDate'></code-snippet>
									p Se utiliza para inputs que deben contener una fecha, permite ingresarla o seleccionarla.
									div.panel.panel-default
										div.panel-body
											input(type="date" class="form-control" placeholder="date input")

									<code-snippet titulo='Hora' htmlCode='formTime'></code-snippet>
									p Un input donde ingresar un horario.
									div.panel.panel-default
										div.panel-body
											input(type="time" class="form-control" placeholder="time input")

									<code-snippet titulo='Mes' htmlCode='formMonth'></code-snippet>
									p Un input que permite al usuario ingresar o seleccionar un mes y un año.
									div.panel.panel-default
										div.panel-body
											input(type="month" class="form-control" placeholder="month input")

									<code-snippet titulo='Semana' htmlCode='formWeek'></code-snippet>
									p Un input donde ingresar o seleccionar una semana y un año.
									div.panel.panel-default
										div.panel-body
											input(type="week" class="form-control" placeholder="week input")

									<code-snippet titulo='Numero' htmlCode='formNumber'></code-snippet>
									p Un input donde solo se pueden ingresar numeros, también puede establecer restricciones sobre que numeros se aceptan.
									div.panel.panel-default
										div.panel-body
											input(type="number" class="form-control" placeholder="number input")

									<code-snippet titulo='Mail' htmlCode='formEmail'></code-snippet>
									p Se utiliza para inputs que deben contener una dirección de correo electrónico.
									div.panel.panel-default
										div.panel-body
											input(type="email" class="form-control" placeholder="email input")

									<code-snippet titulo='Url' htmlCode='formUrl'></code-snippet>
									p Se utiliza para inputs que deben contener una dirección URL.
									div.panel.panel-default
										div.panel-body
											input(type="url" class="form-control" placeholder="url input")

									<code-snippet titulo='Busqueda' htmlCode='formSearch'></code-snippet>
									p Se utiliza para los campos de búsqueda (un campo de búsqueda se comporta como un campo de texto normal).
									div.panel.panel-default
										div.panel-body
											input(type="search" class="form-control" placeholder="search input")

									<code-snippet titulo='Telefono' htmlCode='formTel'></code-snippet>
									p Se utiliza para los inputs que deben contener un número de teléfono.
									div.panel.panel-default
										div.panel-body
											input(type="tel" class="form-control" placeholder="tel input")

									<code-snippet titulo='Rango' htmlCode='formRange'></code-snippet>
									p Define un input para introducir un número cuyo valor exacto no es importante (como un control deslizante). 
									| El rango predeterminado es 0 a 100. 
									| Sin embargo, puede establecer restricciones sobre qué números se aceptan con los atributos min, max y step.
									div.panel.panel-default
										div.panel-body
											input(type="range" class="form-control" value="90")

									<code-snippet titulo='Color' htmlCode='formColor'></code-snippet>
									p Se utiliza para los inputs que deben contener un color.
									div.panel.panel-default
										div.panel-body
											input(type="color" class="form-control" placeholder="color input")

								<!-- Textareas -->
								section#textareas
									<code-snippet titulo='Textareas' htmlCode='formTextArea'></code-snippet>
									p Define un campo de entrada de varias líneas.
									div.panel.panel-default
										div.panel-body
											textarea(class="form-control" rows="3")

								<!-- Checkboxes -->
								section#checkboxes
									<code-snippet titulo='Checkboxes' htmlCode='formCheckBoxes'></code-snippet>
									p Define un checkbox. 
									| Los checkbox permiten a un usuario seleccionar CERO o MÁS opciones de un número limitado de opciones.
									div.panel.panel-default
										div.panel-body
											<form-checkboxes></form-checkboxes>

								<!-- Radios -->
								section#radios
									<code-snippet titulo='Radios' htmlCode='formRadios'></code-snippet>
									p Define un radio. 
									| Los radio permiten a un usuario seleccionar SÓLO UNA opcion de un número limitado de opciones.
									div.panel.panel-default
										div.panel-body
											<form-radios></form-radios>

								<!-- Select -->
								section#selects
									<code-snippet titulo='Select' htmlCode='formSelect'></code-snippet>
									p Define una lista desplegable
									div.panel.panel-default
										div.panel-body
											<form-select></form-select>
												

		<partial-footer></partial-footer>

