<!DOCTYPE html5	>
<html lang="es">
  <head>
    <title>Hexacta forms e inputs</title>
  </head>
  <body><partial-sidebar open= 'elementos'></partial-sidebar>
    <div class="container hx-full-container">
      <div class="main">
        <div id="wrapper"><!-- Sidebar -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="hx-title">
                  <h2 class="page__name">Formularios</h2>
                  <p class="section-description">Ejemplos y pautas de uso para estilos de control de formulario, opciones de diseño y componentes personalizados para crear una amplia variedad de formularios.</p>
                </div>
                <div class="block">
                  <h3 class="section__title">Tipos</h3><code-snippet titulo='Texto' htmlCode='formText'></code-snippet>
                  <p>Un input estandar, define un campo de texto de una línea.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="text" placeholder="Text input"/>
                    </div>
                  </div><code-snippet titulo='Contraseña' htmlCode='formPassword'></code-snippet>
                  <p>Define un input de contraseña que esconde los caracteres ingresados.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="password" placeholder="Password input"/>
                    </div>
                  </div><code-snippet titulo='Fecha y hora' htmlCode='formDateTime'></code-snippet>
                  <p>Se utiliza para inputs que deben contener fecha y hora, permite ingresarla o seleccionarla.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="datetime-local" placeholder="datetime-local input"/>
                    </div>
                  </div><code-snippet titulo='Fecha' htmlCode='formDate'></code-snippet>
                  <p>Se utiliza para inputs que deben contener una fecha, permite ingresarla o seleccionarla.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="date" placeholder="date input"/>
                    </div>
                  </div><code-snippet titulo='Hora' htmlCode='formTime'></code-snippet>
                  <p>Un input donde ingresar un horario.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="time" placeholder="time input"/>
                    </div>
                  </div><code-snippet titulo='Mes' htmlCode='formMonth'></code-snippet>
                  <p>Un input que permite al usuario ingresar o seleccionar un mes y un año.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="month" placeholder="month input"/>
                    </div>
                  </div><code-snippet titulo='Semana' htmlCode='formWeek'></code-snippet>
                  <p>Un input donde ingresar o seleccionar una semana y un año.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="week" placeholder="week input"/>
                    </div>
                  </div><code-snippet titulo='Numero' htmlCode='formNumber'></code-snippet>
                  <p>Un input donde solo se pueden ingresar numeros, también puede establecer restricciones sobre que numeros se aceptan.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="number" placeholder="number input"/>
                    </div>
                  </div><code-snippet titulo='Mail' htmlCode='formEmail'></code-snippet>
                  <p>Se utiliza para inputs que deben contener una dirección de correo electrónico.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="email" placeholder="email input"/>
                    </div>
                  </div><code-snippet titulo='Url' htmlCode='formUrl'></code-snippet>
                  <p>Se utiliza para inputs que deben contener una dirección URL.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="url" placeholder="url input"/>
                    </div>
                  </div><code-snippet titulo='Busqueda' htmlCode='formSearch'></code-snippet>
                  <p>Se utiliza para los campos de búsqueda (un campo de búsqueda se comporta como un campo de texto normal).</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="search" placeholder="search input"/>
                    </div>
                  </div><code-snippet titulo='Telefono' htmlCode='formTel'></code-snippet>
                  <p>Se utiliza para los inputs que deben contener un número de teléfono.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="tel" placeholder="tel input"/>
                    </div>
                  </div><code-snippet titulo='Rango' htmlCode='formRange'></code-snippet>
                  <p>Define un input para introducir un número cuyo valor exacto no es importante (como un control deslizante). </p>El rango predeterminado es 0 a 100. 
                  Sin embargo, puede establecer restricciones sobre qué números se aceptan con los atributos min, max y step.
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="range" value="90"/>
                    </div>
                  </div><code-snippet titulo='Color' htmlCode='formColor'></code-snippet>
                  <p>Se utiliza para los inputs que deben contener un color.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <input class="form-control" type="color" placeholder="color input"/>
                    </div>
                  </div>
                </div><!-- Textareas -->
                <section id="textareas"><code-snippet titulo='Textareas' htmlCode='formTextArea'></code-snippet>
                  <p>Define un campo de entrada de varias líneas.</p>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </section><!-- Checkboxes -->
                <section id="checkboxes"><code-snippet titulo='Checkboxes' htmlCode='formCheckBoxes'></code-snippet>
                  <p>Define un checkbox. </p>Los checkbox permiten a un usuario seleccionar CERO o MÁS opciones de un número limitado de opciones.
                  <div class="panel panel-default">
                    <div class="panel-body"><form-checkboxes></form-checkboxes></div>
                  </div>
                </section><!-- Radios -->
                <section id="radios"><code-snippet titulo='Radios' htmlCode='formRadios'></code-snippet>
                  <p>Define un radio. </p>Los radio permiten a un usuario seleccionar SÓLO UNA opcion de un número limitado de opciones.
                  <div class="panel panel-default">
                    <div class="panel-body"><form-radios></form-radios></div>
                  </div>
                </section><!-- Select -->
                <section id="selects"><code-snippet titulo='Select' htmlCode='formSelect'></code-snippet>
                  <p>Define una lista desplegable</p>
                  <div class="panel panel-default">
                    <div class="panel-body"><form-select></form-select></div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><partial-footer></partial-footer>
  </body>
</html>