doctype html5	
html(lang="es")
	head
		title Hexacta Framework Title
	
	body
		<partial-sidebar open= 'elementos'></partial-sidebar>
		div.container.hx-full-container
			div.main
				div#wrapper
					<!-- Sidebar -->
					div#page-content-wrapper
						div.container-fluid
							div.row
								div.hx-title
									h2.page__name Titulo / Encabezado
									p.section-description Un encabezado proporciona un breve resumen del contenido

								div.block
									h3.section__title Tipos
		
									<code-snippet titulo='Encabezados de página' htmlCode='titleCode'></code-snippet>
									p Los encabezados pueden estar orientados a dar la jerarquía de una sección en el contexto de la página. Los siguientes textos son a modo de ejemplo
								div.example
									<titulo-component></titulo-component>
		<partial-footer></partial-footer>