<!DOCTYPE html5	>
<html lang="es">
  <head>
    <title>Hexacta Framework Title</title>
  </head>
  <body><partial-sidebar open= 'elementos'></partial-sidebar>
    <div class="container hx-full-container">
      <div class="main">
        <div id="wrapper"><!-- Sidebar -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="hx-title">
                  <h2 class="page__name">Titulo / Encabezado</h2>
                  <p class="section-description">Un encabezado proporciona un breve resumen del contenido</p>
                </div>
                <div class="block">
                  <h3 class="section__title">Tipos</h3><code-snippet titulo='Encabezados de página' htmlCode='titleCode'></code-snippet>
                  <p>Los encabezados pueden estar orientados a dar la jerarquía de una sección en el contexto de la página. Los siguientes textos son a modo de ejemplo</p>
                </div>
                <div class="example"><titulo-component></titulo-component></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><partial-footer></partial-footer>
  </body>
</html>