<!DOCTYPE html5>
<html lang="es">
  <head>
    <title>Hexacta Framework Title</title>
  </head>
  <body><partial-sidebar open= 'elementos'></partial-sidebar>
    <div class="container hx-full-container">
      <div class="main">
        <div id="wrapper"><!-- Sidebar -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="hx-title">
                  <h2 class="page__name" id="botones">Botones</h2>
                  <p class="section-description">Un botón indica una posible acción del usuario</p>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Boton">
                      <h3 class="section__title-group">Tipos</h3>
                      <div class="section-modules"></div><code-snippet titulo= 'Botón' htmlCode= 'botonEstandarFile'></code-snippet>
                      <p>Un botón estandar</p>
                      <div class="section-examples">
                        <button class="hx-button">Botón principal</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Enfasis">
                      <div class="section-modules"><code-snippet titulo= 'Énfasis' htmlCode= 'botonEmphasis'></code-snippet>
                        <p>Un botón puede ser configurado para mostrar diferentes niveles de énfasis</p>
                        <div class="section-examples">
                          <button class="hx-button">Guardar</button>
                          <button class="hx-button hx-btn-transparente">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Animado">
                      <div class="section-modules"><code-snippet titulo='Animado' htmlCode='botonAnimado'></code-snippet>
                        <p>Un botón puede animarse para mostrar contenido oculto</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Etiquetado">
                      <div class="section-modules"><code-snippet titulo='Etiquetado' htmlCode='botonEtiquetado'></code-snippet>
                        <p>Un botón puede aparecer junto a una etiqueta</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Icono">
                      <div class="section-modules"><code-snippet titulo='Icono' htmlCode='botonIcono'></code-snippet>
                        <p>Un botón sólo puede tener un ícono</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Icono-etiquetado">
                      <div class="section-modules"><code-snippet titulo='Icono etiquetado' htmlCode='botonIconoEtiquetado'></code-snippet>
                        <p>Un botón puede utilizar un ícono como una etiqueta</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Basico">
                      <div class="section-modules"><code-snippet titulo= 'Básico' htmlCode= 'botonBasico'></code-snippet>
                        <p>Un botón básico es menos pronunciado</p>
                        <div class="section-examples"><basic-boton></basic-boton></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Invertido">
                      <div class="section-modules"><code-snippet titulo= 'Invertido' htmlCode= 'botonBasico'></code-snippet>
                        <p>Se puede configurar un botón para que aparezca en fondos oscuros</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Botones">
                      <h3 class="section__title-group">Grupos</h3>
                      <div class="section-modules"><code-snippet titulo= 'Botones' htmlCode= 'botonBotones'></code-snippet>
                        <p>Los botones pueden existir juntos como un grupo</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Botones-con-icono">
                      <div class="section-modules"><code-snippet titulo= 'Botones con íconos' htmlCode= 'botonIconoBotones'></code-snippet>
                        <p>Los grupos de botones pueden mostrar grupos de íconos</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Condicionales">
                      <h3 class="section__title-group">Contenido</h3>
                      <div class="section-modules"><code-snippet titulo= 'Condicionales' htmlCode= 'botonCondicionales'></code-snippet>
                        <p>Los grupos de botones pueden contener condicionales</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Activo">
                      <h3 class="section__title-group">Estados</h3>
                      <div class="section-modules"><code-snippet titulo= 'Activo' htmlCode= 'botonActivo'></code-snippet>
                        <p>Un botón puede mostrar la selección actual del usuario</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Deshabilitado">
                      <div class="section-modules"><code-snippet titulo= 'Deshabilitado' htmlCode= 'botonDeshabilitado'></code-snippet>
                        <p>Un botón puede mostrar que actualmente no se puede interactuar</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Cargando">
                      <div class="section-modules"><code-snippet titulo= 'Cargando' htmlCode= 'botonCargando'></code-snippet>
                        <p>Un botón puede mostrar un indicador de carga</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Social">
                      <h3 class="section__title-group">Variaciones</h3>
                      <div class="section-modules"><code-snippet titulo= 'Social' htmlCode= 'botonSocial'></code-snippet>
                        <p>Un botón se puede configurar para estar vinculado a una red social</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Tamaño">
                      <div class="section-modules"><code-snippet titulo= 'Tamaño' htmlCode= 'botonTamaño'></code-snippet>
                        <p>Un botón puede tener diferentes tamaño</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Flotado">
                      <div class="section-modules"><code-snippet titulo= 'Flotado' htmlCode= 'botonFlotado'></code-snippet>
                        <p>Un botón se puede alinear a la izquierda o a la derecha de su contenedor</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Coloreado">
                      <div class="section-modules"><code-snippet titulo= 'Coloreado' htmlCode= 'botonColoreado'></code-snippet>
                        <p>Un botón puede tener diferentes colores</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Compacto">
                      <div class="section-modules"><code-snippet titulo= 'Compacto' htmlCode= 'botonCompacto'></code-snippet>
                        <p>Un botón puede reducir su relleno para encajar en un espacio más apretado</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Toggle">
                      <div class="section-modules"><code-snippet titulo= 'Toggle' htmlCode= 'botonToggle'></code-snippet>
                        <p>Un botón se puede formatear para activar y desactivar</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Positivo">
                      <div class="section-modules"><code-snippet titulo= 'Positivo' htmlCode= 'botonPositivo'></code-snippet>
                        <p>Un botón puede indicar una consecuencia positiva</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Negativo">
                      <div class="section-modules"><code-snippet titulo= 'Negativo' htmlCode= 'botonNegativo'></code-snippet>
                        <p>Un botón puede indicar una consecuencia negativa</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Fluido">
                      <div class="section-modules"><code-snippet titulo= 'Fluido' htmlCode= 'botonFluido'></code-snippet>
                        <p>Un botón puede tomar el ancho de su contenedor</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Circular">
                      <div class="section-modules"><code-snippet titulo= 'Circular' htmlCode= 'botonCircular'></code-snippet>
                        <p>Un botón puede ser circular</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Vertical">
                      <div class="section-modules"><code-snippet titulo= 'Unido verticalmente' htmlCode= 'botonVertical'></code-snippet>
                        <p>Un botón puede ser conectado a la parte superior o inferior de otro contenidor</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Horizontal">
                      <div class="section-modules"><code-snippet titulo= 'Unido horizontalmente' htmlCode= 'botonHorizontal'></code-snippet>
                        <p>Se puede adjuntar un botón a la izquierda oa la derecha de otro contenido</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="Verticales">
                      <h3 class="section__title-group">Variaciones en grupo</h3>
                      <div class="section-modules"><code-snippet titulo= 'Botones Verticales' htmlCode= 'botonBotonesVerticales'></code-snippet>
                        <p>Los grupos pueden ser configurados para que aparezcan verticalmente</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="botonesIconos">
                      <div class="section-modules"><code-snippet titulo= 'Botones con iconos' htmlCode= 'botonBotonesIconos'></code-snippet>
                        <p>Los grupos se pueden formatear como icono</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="botonesIconosEtiquetados">
                      <div class="section-modules"><code-snippet titulo= 'Botones con iconos etiquetados' htmlCode= 'botonIconosEtiquetados'></code-snippet>
                        <p>Los grupos se pueden configurar como iconos etiquetados</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="gruposMixtos">
                      <div class="section-modules"><code-snippet titulo= 'Grupos mixtos' htmlCode= 'botonGruposMixtos'></code-snippet>
                        <p>Los grupos se pueden configurar para utilizar varios tipos de botones juntos</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="igualAnchura">
                      <div class="section-modules"><code-snippet titulo= 'Igual anchura' htmlCode= 'botonIgualAnchura'></code-snippet>
                        <p>Los grupos pueden tener sus anchos divididos uniformemente</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="botonesColoreados">
                      <div class="section-modules"><code-snippet titulo= 'Botones coloreados' htmlCode= 'botonBotonesColoreados'></code-snippet>
                        <p>Los grupos pueden compartir un color</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="botonesBasicos">
                      <div class="section-modules"><code-snippet titulo= 'Botones básicos' htmlCode= 'botonBotonesBasicos'></code-snippet>
                        <p>Un grupo de botones puede ser menos pronunciado</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="block">
                  <div class="row">
                    <div class="col-md-12" id="tamañoGrupos">
                      <div class="section-modules"><code-snippet titulo= 'Tamaños del grupo' htmlCode= 'botonTamañoGrupos'></code-snippet>
                        <p>Los grupos pueden tener un tamaño compartido</p>
                        <div class="section-examples"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-section-container">
            <div class="nav-section">
              <h4>Botones</h4><right-menu></right-menu>
            </div>
          </div>
        </div>
      </div>
    </div><partial-footer></partial-footer>
  </body>
</html>