<!-- ..................................................... HEADER ..................................................... -->
<partial-header title='Contacto' description='Contactate con nosotros!' selected='4'></partial-header>
<!-- ..................................................... CONTENIDO ..................................................... -->
<div class="containerWeb">
<!-- ..................................................... SEPARADOR ..................................................... -->
            <div class="categories-nav-hold">
                <div class="categories-nav">
                    <div class="container">
                        <span class="title">Contactanos via Facebook, Instagram o por Mail!!</span>
                    </div>
                </div>
            </div>
<!-- ..................................................... ROW 1 ..................................................... -->
        <section class="row rowWhite" id="sombraArriba">
            <div class="row12Container" style="margin-top: 5%">
                <div class="section-description" style="margin-bottom: 2%; font-weight: bold; color:#EF4135;">
                    Contactanos por cualquier medio y te responderemos en el instante!
                </div>
                <div >
                    <p>(Puede que tu navegador bloquee el formulario de contacto)</p>
                </div>
                    <contact-form></contact-form>
            </div>
        </section> 
<!-- ..................................................... ROW 2 COLUMN 1 ..................................................... -->
        <section class="row rowWhite">
            <div class="rowContainer">

                <div class="col-md-6">
                        <div class="info-container">
                            <div class="category-title totals" style="color:#EF4135;">
                                Seguinos en facebook
                            
                            </div>
                            <div class="section-description">
                                Envianos un MP y uno de nuestros boosters te respondera en el momento. El medio mas rapido para despejar tus dudas.
                            </div>
                            
                            <div class="fb-background">
                                  <span style="vertical-align: bottom; width: 500px; height: 500px;">
                                      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGSLPBoost&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                  </span>
                            </div>
                        </div>
                </div>
<!-- ..................................................... ROW 2 COLUMN 2 ..................................................... -->
                <div class="col-md-6">
                    <div class="info-container">
                        <div class="category-title totals" style="color:#EF4135;">
                            Seguinos en Instagram
                        
                        </div>
                        <div class="section-description">
                            Subiremos novedades todo el tiempo, sorteos, promociones y resultados para que veas con tus propios ojos la satisfaccion de nuestros clientes.
                        </div>
                        
                        <div>
                            <!-- SnapWidget -->
                            <iframe src="https://snapwidget.com/embed/455690" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:489px; height:576px"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        
</div>
<!-- ..................................................... FOOTER ..................................................... -->
    <div class="footer-home"><partial-footer></partial-footer></div>

