<!-- ..................................................... HEADER ..................................................... -->
<partial-header title='GLSP Boost' description='Te boosteamo pa que salga de bronce'></partial-header>
<!-- ..................................................... CONTENIDO ..................................................... -->
    <div class="containerWeb">
<!-- ..................................................... SEPARADOR ..................................................... -->
            <div class="categories-nav-hold">
                <div class="categories-nav">
                    <div class="container">
                        <span class="title">NUESTROS SERVICIOS</span>
                    </div><!-- end .container -->
                </div><!-- end .categories-nav -->
            </div>
<!-- ..................................................... ROW 1 ..................................................... -->
        <section class="row rowGrey">
            <div class="rowContainer">

                <div class="col-md-6">
                        <div class="info-container">
                            <div class="category-title totals">
                                Seguinos en facebook
                            
                            </div><!-- end .category-title -->
                            <div class="section-description">
                                Envianos un MP y uno de nuestros boosters te respondera en el momento. El medio mas rapido para despejar tus dudas.
                            </div><!-- end .description -->
                            
                            <div class="fb-background">
                                  <span style="vertical-align: bottom; width: 500px; height: 500px;">
                                      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                                  </span>
                            </div>
                        </div><!-- end .category-info -->
                </div>
                <div class="col-md-6">
                    <div class="info-container">
                        <div class="category-title totals">
                            Seguinos en Instagram
                        
                        </div><!-- end .category-title -->
                        <div class="section-description">
                            Subiremos novedades todo el tiempo, sorteos, promociones y resultados para que veas con tus propios ojos la satisfaccion de nuestros clientes.
                        </div><!-- end .description -->
                        
                        <div>
                            <!-- SnapWidget -->
                            <iframe src="https://snapwidget.com/embed/454264" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:495px; height:580px"></iframe>
                        </div>
                    </div><!-- end .category-info -->
            </div>

            </div>
        </section>
<!-- ..................................................... ROW 2 ..................................................... -->
        <section class="row rowGrey">
            <div class="row12Container">

                    <contact-form></contact-form>

            </div>
        </section>  
        
  </div>
<!-- ..................................................... FOOTER ..................................................... -->
    <div class="footer-home"><partial-footer></partial-footer></div>

