.templates.template-1 .navbar-color-primary {
		background: #0aac8e;
	}

	.templates.template-1 .navbar-color-primary a {
		color: white;
	}

	.templates.template-1 .navbar-color-primary a:hover,
	.templates.template-1 .navbar-color-primary a:focus {
		background: rgba(0, 0, 0, 0.2);
		color: white;
	}

	.templates.template-1	.dropdown-menu {
		box-shadow: none;
	}

	.templates.template-1 .navbar-toggle .icon-bar {
		background: white;
	}

	.templates.template-1 .main {
		padding-top: 80px;
	}
	
	.templates.template-1 .footer {
		padding: 0;
	}
	.templates.template-1 .footer-top {
		background: #555;
		padding: 15px 0;
	}

	.templates.template-1 .footer-logo span {
		color: rgba(255, 255, 255, 0.5);
		font-size: 18px;
		display: inline-block;		
	}

	.templates.template-1 .footer-logo a {
		padding: 15px;
		padding-left: 0;
	}

	.templates.template-1 .footer-links {}
	.templates.template-1 .footer-links ul {}
	.templates.template-1 .footer-links li {
		padding: 15px;
	}
	.templates.template-1 .footer-links a {
		color: rgba(255, 255, 255, 0.5);
	}