//colores

$primary-color:#009d91;
$secondary-color:#007780;
$accent-color:#ff7b00;
$dark:#555555;
$medium:#6d6e70;
$light:#fafafa;
    
//fuentes
$display-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', arial, sans-serif;
    
$base-font-size: 16px;
$small-font-size: ( 80% * $base-font-size ) / 100%;
$smaller-font-size: ( 65% * $base-font-size ) / 100%;
$smallest-font-size: ( 50% * $base-font-size ) / 100%;

// 100,100i,300,300i,400,400i,500,500i,700,700i,900,900i
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

$fuentePrincipal: 'Roboto',Helvetica,Arial,sans-serif;