<!DOCTYPE html5	>
<html lang="es">
  <body>
    <partial-header></partial-header>
    <div class="container">
      <div class="main">
        <div class="row">
          <div class="col-md-4">
            <div class="block-feature"><a href="#/Buttons"><img src="../../../assets/images/elements-icon-alt@2x.png" alt="elementos"/></a>
              <h2 class="block-feature__title">Elementos UI</h2>
              <p class="block-feature__description">Elementos UI prediseñados listos para aplicar en cualquier proyecto.</p>
              <p><a class="btn btn-primary block-feature__button" href="#/Buttons" role="button">Ver todos</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-feature"><a href="#/Tables"><img src="../../../assets/images/components-icon-alt@2x.png" alt="elementos"/></a>
              <h2 class="block-feature__title">Componentes</h2>
              <p class="block-feature__description">Tablas, dropdowns, sliders y más componentes totalmente adaptables y customizables.</p>
              <p><a class="btn btn-primary block-feature__button" href="#/Tables" role="button">Ver todos</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-feature"><a href="#/Template"><img src="../../../assets/images/templates-icon-alt@2x.png" alt="elementos"/></a>
              <h2 class="block-feature__title">Templates</h2>
              <p class="block-feature__description">Serie de templates para aplicar y customizar a medida de cada proyecto.</p>
              <p><a class="btn btn-primary block-feature__button" href="#/Template" role="button">Ver todos</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <h3 class="section-name">Fácil de usar, adaptar y expandir</h3>
          <div class="col-md-4">
            <div class="block-feature"><img src="../../../assets/images/responsive-icon@2x.png" alt="elementos"/>
              <h2 class="block-feature__title">Responsive</h2>
              <p class="block-feature__description">Todos los elementos y componentes se adaptan a cualquier medida de pantalla.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-feature"><img src="../../../assets/images/bootstrap-sass-icon@2x.png" alt="elementos"/>
              <h2 class="block-feature__title">Bootstrap / Sass</h2>
              <p class="block-feature__description">Utilizamos Bootstrap y Sass para generar un código fácil de adaptar y expandir.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-feature"><img src="../../../assets/images/angular-icon@2x.png" alt="elementos"/>
              <h2 class="block-feature__title">Angular</h2>
              <p class="block-feature__description">Elegimos Angular para lograr la mayor fluidez posible entre el usuario y el sistema.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-home"><partial-footer></partial-footer></div>
  </body>
</html>