doctype html5	
html(lang="es")
	head
		title Hexacta Framework Title
	
	body
		<partial-sidebar open= 'elementos'></partial-sidebar>
		div.container.hx-full-container
			div.main
				div#wrapper
					<!-- Sidebar -->
					div#page-content-wrapper
						div.container-fluid
							<!-- LISTAS -->
							div.row
								div.hx-title
									h2.page__name Listas
									p.section-description Listas Numeradas (Ordenadas) - Listas no Numeradas (Desordenadas) - Listas de Definición

								div.block
									h3.section__title Nombre sección
								
									h4.section-subtitle Subtítulo sección
								div.example
									div.row
										<!-- Ordered list -->
										div.col-md-3
											h4 Ordenada - Decimal
											ol.hx-ls-decim
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Ordenada - Decimal con Cero
											ol.hx-ls-zdecim
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Ordenada - Numeros Romanos Minuscula
											ol.hx-ls-lowro
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Ordenada - Numeros Romanos Mayuscula
											ol.hx-ls-upro
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
									div.row
										div.col-md-3
											h4 Lista Ordenada (Caracteres Griegos)
											ol.hx-ls-lowgr
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Lista Ordenada (Caracteres Latinos Minuscula)
											ol.hx-ls-lowla
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Lista Ordenada (Caracteres Latinos Mayuscula)
											ol.hx-ls-uppla
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Lista Ordenada (Caracteres Armenios)
											ol.hx-ls-armen
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
									div.row
										div.col-md-3
											h4 Lista Ordenada (Caracteres Georgianos)
											ol.hx-ls-georg
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Lista Desordenada (Discos)
											ul.hx-ls-disclist
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Lista Desordenada (Circulos)
											ul.hx-ls-circlelist
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Lista Desordenada (Cuadrados)
											ul.hx-ls-squarelist
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
									div.row
										div.col-md-3
											h4 Lista sin Tipo
											ul.hx-ls-nonelist
												li Item de la lista
												li Segundo nivel
												li Tercer nivel
										div.col-md-3
											h4 Herencia
											ul.hx-ls-upro.hx-list-inherit
												li Item de la lista
												li Segundo nivel
													ul
														li Primer Sub nivel
														li Segundo Sub nivel
														li Tercer Sub nivel
												li Tercer nivel
										div.col-md-3
											h4 Sin Herencia
											ul.hx-ls-upro.hx-list-noinherit
												li Item de la lista
												li Segundo nivel
													ul
														li Primer Sub nivel
														li Segundo Sub nivel
														li Tercer Sub nivel
												li Tercer nivel
										div.col-md-3
											h4 Lista sin ordenar - inline
											ul.list-inline
												li Ítem de la lista
												li Ítem de la lista
												li Ítem de la lista	
									hr
									div.row
										<!-- Definition List -->
										div.col-md-6
											h4 Lista de definición, horizontal, zebra
											dl(class="dl-horizontal dl-zebra")
												dt Término:
												dd Definición
												dt Término:
												dd Definición
												dt Término:
												dd Definición
												dt Término:
												dd Definición
												dt Término:
												dd Definición
												dt Otro término:
												dd Definiciones largas se verán completas.
										<!-- Horizontal description list -->
										div.col-md-6
											h4 Lista de definición, horizontal
											dl.dl-horizontal
												dt Término:
												dd Definición
												dt Término:
												dd Definición
												dt Términos largos se verán completos:
												dd Definiciones largas se verán completas.
										<!-- Horizontal description list zebra -->
									hr
									div.row
										div.col-md-4
										h4 Lista de definición, horizontal, zebra
										dl(class="dl-horizontal dl-zebra")
											dt Término:
											dd Definición
											dt Término:
											dd Definición
											dt Término:
											dd Definición
									div.row
										<!-- Horizontal description list zebra ancho col 40-60 -->
										div(class="form-group col-md-6")
											h4 Lista de definición 40-60
											dl(class="dl-horizontal dl-40-60 dl-zebra")
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
										<!-- Horizontal description list zebra ancho col 25-75-->
										div(class="form-group dl-25-75 col-md-6")
											h4 Lista de definición 25-75 
											dl(class="dl-horizontal dl-zebra")
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
									hr
									div.row
										<!-- Horizontal description list zebra ancho col 66-33 mas ellipsis-->
										div(class="form-group col-md-6")
											h4 Lista de definición 66-33 con ellipsis + tooltip
											dl(class="dl-horizontal dl-66-33 dl-ellipsis dl-zebra")
												dt Término:
												dd(data-bind="" title="Definiciones largas se verán completas en el tooltip agregando el attr title en la implementación") efiniciones largas se verán completas
												dt Término:
												dd(data-bind="" title="Definiciones largas se verán completas en el tooltip agregando el attr title en la implementación") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="" title="Definiciones largas se verán completas en el tooltip agregando el attr title en la implementación") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="" title="Definiciones largas se verán completas en el tooltip agregando el attr title en la implementación") Definiciones largas se verán completas
										<!-- Horizontal description list zebra ancho col 33-66-->
										div(class="form-group dl-33-66 col-md-6")
											h4 Lista de definición 33-66
											dl(class="dl-horizontal dl-zebra")
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
												dt Término:
												dd(data-bind="") Definiciones largas se verán completas
								br
								<!-- html / css -->
								<code-snippet htmlCode='htmlCode' jsCode='jsCode'></code-snippet>
								//ul(class="nav nav-tabs nav-justified" role="tablist")
									li([ngClass]="{active: selected == 'html'}")
										a((click)="this.selected ='html';" role="tab" data-toggle="tab")
											strong HTML
									li([ngClass]="{active: selected == 'js'}")
										a((click)="this.selected ='js';" role="tab" data-toggle="tab")
											strong JS
								//div.tab-content
									div([ngClass]="{active: selected == 'html'}" class="tab-pane" role="tabpanel" id="html")
										pre ...
									div([ngClass]="{active: selected == 'js'}" class="tab-pane" role="tabpanel" id="js")
										pre js code ...
							<!-- end html / css -->
						<!-- end LISTAS -->
			<!-- /#wrapper -->
		<!-- / container -->
		<partial-footer></partial-footer>
