<!DOCTYPE html5	>
<html lang="es">
  <head>
    <title>Hexacta Framework Title</title>
  </head>
  <body><partial-sidebar open= 'elementos'></partial-sidebar>
    <div class="container hx-full-container">
      <div class="main">
        <div id="wrapper"><!-- Sidebar -->
          <div id="page-content-wrapper">
            <div class="container-fluid"><!-- LISTAS -->
              <div class="row">
                <div class="hx-title">
                  <h2 class="page__name">Listas</h2>
                  <p class="section-description">Listas Numeradas (Ordenadas) - Listas no Numeradas (Desordenadas) - Listas de Definición</p>
                </div>
                <div class="block">
                  <h3 class="section__title">Nombre sección</h3>
                  <h4 class="section-subtitle">Subtítulo sección</h4>
                </div>
                <div class="example">
                  <div class="row"><!-- Ordered list -->
                    <div class="col-md-3">
                      <h4>Ordenada - Decimal</h4>
                      <ol class="hx-ls-decim">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                    <div class="col-md-3">
                      <h4>Ordenada - Decimal con Cero</h4>
                      <ol class="hx-ls-zdecim">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                    <div class="col-md-3">
                      <h4>Ordenada - Numeros Romanos Minuscula</h4>
                      <ol class="hx-ls-lowro">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                    <div class="col-md-3">
                      <h4>Ordenada - Numeros Romanos Mayuscula</h4>
                      <ol class="hx-ls-upro">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <h4>Lista Ordenada (Caracteres Griegos)</h4>
                      <ol class="hx-ls-lowgr">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                    <div class="col-md-3">
                      <h4>Lista Ordenada (Caracteres Latinos Minuscula)</h4>
                      <ol class="hx-ls-lowla">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                    <div class="col-md-3">
                      <h4>Lista Ordenada (Caracteres Latinos Mayuscula)</h4>
                      <ol class="hx-ls-uppla">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                    <div class="col-md-3">
                      <h4>Lista Ordenada (Caracteres Armenios)</h4>
                      <ol class="hx-ls-armen">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <h4>Lista Ordenada (Caracteres Georgianos)</h4>
                      <ol class="hx-ls-georg">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ol>
                    </div>
                    <div class="col-md-3">
                      <h4>Lista Desordenada (Discos)</h4>
                      <ul class="hx-ls-disclist">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <h4>Lista Desordenada (Circulos)</h4>
                      <ul class="hx-ls-circlelist">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <h4>Lista Desordenada (Cuadrados)</h4>
                      <ul class="hx-ls-squarelist">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <h4>Lista sin Tipo</h4>
                      <ul class="hx-ls-nonelist">
                        <li>Item de la lista</li>
                        <li>Segundo nivel</li>
                        <li>Tercer nivel</li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <h4>Herencia</h4>
                      <ul class="hx-ls-upro hx-list-inherit">
                        <li>Item de la lista</li>
                        <li>Segundo nivel
                          <ul>
                            <li>Primer Sub nivel</li>
                            <li>Segundo Sub nivel</li>
                            <li>Tercer Sub nivel</li>
                          </ul>
                        </li>
                        <li>Tercer nivel</li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <h4>Sin Herencia</h4>
                      <ul class="hx-ls-upro hx-list-noinherit">
                        <li>Item de la lista</li>
                        <li>Segundo nivel
                          <ul>
                            <li>Primer Sub nivel</li>
                            <li>Segundo Sub nivel</li>
                            <li>Tercer Sub nivel</li>
                          </ul>
                        </li>
                        <li>Tercer nivel</li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <h4>Lista sin ordenar - inline</h4>
                      <ul class="list-inline">
                        <li>Ítem de la lista</li>
                        <li>Ítem de la lista</li>
                        <li>Ítem de la lista	</li>
                      </ul>
                    </div>
                  </div>
                  <hr/>
                  <div class="row"><!-- Definition List -->
                    <div class="col-md-6">
                      <h4>Lista de definición, horizontal, zebra</h4>
                      <dl class="dl-horizontal dl-zebra">
                        <dt>Término:</dt>
                        <dd>Definición</dd>
                        <dt>Término:</dt>
                        <dd>Definición</dd>
                        <dt>Término:</dt>
                        <dd>Definición</dd>
                        <dt>Término:</dt>
                        <dd>Definición</dd>
                        <dt>Término:</dt>
                        <dd>Definición</dd>
                        <dt>Otro término:</dt>
                        <dd>Definiciones largas se verán completas.</dd>
                      </dl>
                    </div><!-- Horizontal description list -->
                    <div class="col-md-6">
                      <h4>Lista de definición, horizontal</h4>
                      <dl class="dl-horizontal">
                        <dt>Término:</dt>
                        <dd>Definición</dd>
                        <dt>Término:</dt>
                        <dd>Definición</dd>
                        <dt>Términos largos se verán completos:</dt>
                        <dd>Definiciones largas se verán completas.</dd>
                      </dl>
                    </div><!-- Horizontal description list zebra -->
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-md-4"></div>
                    <h4>Lista de definición, horizontal, zebra</h4>
                    <dl class="dl-horizontal dl-zebra">
                      <dt>Término:</dt>
                      <dd>Definición</dd>
                      <dt>Término:</dt>
                      <dd>Definición</dd>
                      <dt>Término:</dt>
                      <dd>Definición</dd>
                    </dl>
                  </div>
                  <div class="row"><!-- Horizontal description list zebra ancho col 40-60 -->
                    <div class="form-group col-md-6">
                      <h4>Lista de definición 40-60</h4>
                      <dl class="dl-horizontal dl-40-60 dl-zebra">
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                      </dl>
                    </div><!-- Horizontal description list zebra ancho col 25-75-->
                    <div class="form-group dl-25-75 col-md-6">
                      <h4>Lista de definición 25-75 </h4>
                      <dl class="dl-horizontal dl-zebra">
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                      </dl>
                    </div>
                  </div>
                  <hr/>
                  <div class="row"><!-- Horizontal description list zebra ancho col 66-33 mas ellipsis-->
                    <div class="form-group col-md-6">
                      <h4>Lista de definición 66-33 con ellipsis + tooltip</h4>
                      <dl class="dl-horizontal dl-66-33 dl-ellipsis dl-zebra">
                        <dt>Término:</dt>
                        <dd data-bind="" title="Definiciones largas se verán completas en el tooltip agregando el attr title en la implementación">efiniciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="" title="Definiciones largas se verán completas en el tooltip agregando el attr title en la implementación">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="" title="Definiciones largas se verán completas en el tooltip agregando el attr title en la implementación">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="" title="Definiciones largas se verán completas en el tooltip agregando el attr title en la implementación">Definiciones largas se verán completas</dd>
                      </dl>
                    </div><!-- Horizontal description list zebra ancho col 33-66-->
                    <div class="form-group dl-33-66 col-md-6">
                      <h4>Lista de definición 33-66</h4>
                      <dl class="dl-horizontal dl-zebra">
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                        <dt>Término:</dt>
                        <dd data-bind="">Definiciones largas se verán completas</dd>
                      </dl>
                    </div>
                  </div>
                </div><br/><!-- html / css -->
<code-snippet htmlCode='htmlCode' jsCode='jsCode'></code-snippet>
                <!--ul(class="nav nav-tabs nav-justified" role="tablist")
                li([ngClass]="{active: selected == 'html'}")
                	a((click)="this.selected ='html';" role="tab" data-toggle="tab")
                		strong HTML
                li([ngClass]="{active: selected == 'js'}")
                	a((click)="this.selected ='js';" role="tab" data-toggle="tab")
                		strong JS
                -->
                <!--div.tab-content
                div([ngClass]="{active: selected == 'html'}" class="tab-pane" role="tabpanel" id="html")
                	pre ...
                div([ngClass]="{active: selected == 'js'}" class="tab-pane" role="tabpanel" id="js")
                	pre js code ...
                -->
              </div><!-- end html / css -->
            </div><!-- end LISTAS -->
          </div>
        </div>
      </div><!-- /#wrapper -->
    </div><!-- / container -->
<partial-footer></partial-footer>
  </body>
</html>