<!-- ..................................................... HEADER ..................................................... -->
    <partial-header title='GSLP Boost' description='Eloboost LAS - LAN - BR' selected='7'></partial-header>
<!-- ..................................................... CONTENIDO ..................................................... -->
    <div class="containerWeb">
<!-- ..................................................... SEPARADOR ..................................................... -->
            <div class="categories-nav-hold">
                <div class="categories-nav">
                    <div class="container">
                        <span class="title">NUESTROS SERVICIOS</span>
                    </div><!-- end .container -->
                </div><!-- end .categories-nav -->
            </div>
<!-- ..................................................... ROW 1 ..................................................... -->
        <section class="row rowRed" id="sombraArriba">
            <div class="rowContainer">

                <div class="col-md-6">
                    
                    <img src="../../../assets/images/skt.png" alt="American Football" id='skt'>
                </div>

                <div class="col-md-6">
                        <div class="info-container">
                            <p class="category-title">¡Elige tu nivel!</p>
                            <div class="category-title totals">
                                Sea cual sea tu rango, nosotros te haremos subir al que desees.
                            
                            </div><!-- end .category-title -->
                            <div class="section-description">
                                Simplemente tienes que colocar tu division actual y tu division deseada en la seccion compras y nosotros haremos el resto, te llevaremos a la division deseada de la manera mas rapida y segura.
                            </div><!-- end .description -->
                            <a routerLink="/buy-boost" routerLinkActive="active">
                                <button class="hx-btn hx-btn-transparente" style="padding: 1em 5em 1em 5em;"><span>Ver Precios</span></button>
                            </a>
                        </div><!-- end .category-info -->
                </div>

            </div>
        </section>
<!-- ..................................................... ROW 2 ..................................................... -->
        <section class="row rowWhite" id="sombra">
            <div class="rowContainer">

                <div class="col-md-6">
                    <div class="info-container">
                        <p class="category-title">Sobre Nosotros</p>
                        <div class="section-description" style="font-size: 14px">
                            GSLP Boost fue creado con el fin de ofrecer un servicio de calidad para los jugadores de League of Legends. Adicionalmente del objetivo principal del elo boost que consiste en subir de división la cuenta, le garantizamos un aumento considerablemente alto de MMR, KDA, Stats y Win Rate en su cuenta.
                        </div>
                    </div><!-- end .column-2 -->
                </div>
                <div class="col-md-6">

                    <img src="../../../assets/images/riven.png" alt="" id='kindred'>

                </div>

            </div>
        </section>
<!-- ..................................................... ROW 3 ..................................................... -->
        <section class="row rowRed" id="sombraArriba">
            <div class="rowContainer" >

                <div class="col-md-6">

                    <img src="../../../assets/images/ezreal.png" alt="" id='ezreal'>
                    
                </div>
                <div class="col-md-6">
                    <div class="info-container">
                        <p class="category-title">Trabaja con Nosotros</p>
                        <div class="category-title totals">
                            Gana dinero y divertite al mismo tiempo!
                        </div><!-- end .category-title -->
                        <div class="section-description">
                            Si sos un jugador habilidoso de las ligas mas altas del juego, y te gustaría ganar dinero jugando, contactanos para trabajar con nosotros!
                        </div><!-- end .description -->                       
                        <a routerLink="/contact" routerLinkActive="active">
                            <button class="hx-btn hx-btn-transparente" style="padding: 1em 5em 1em 5em;"><span>Contactanos</span></button>
                        </a>
                    </div><!-- end .category-info -->
                </div>

            </div>
        </section>
        
<!-- ..................................................... ROW 4 (support-banner) ..................................................... -->
        
        <section class="row row4White" id="sombra">
            <div class="rowContainer">

                <div class="col-md-6">
                    <div class="info-container">
                        <p class="category-title">Alguna pregunta?</p>
                        <div class="section-description">
                            <p>Visitá nuestra seccion de preguntas frecuentes para despejar tus dudas!!!</p>
                        </div>
                        <a routerLink="/faq" routerLinkActive="active">
                            <button class="hx-btn hx-btn-transparenteBlack" style="padding: 1em 5em 1em 5em;"><span>Preguntas Frecuentes</span></button>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/images/rengar.png" alt="" style="height:500px">
                </div>

            </div>
        </section>
        
  </div>
<!-- ..................................................... FOOTER ..................................................... -->
    <div class="footer-home"><partial-footer></partial-footer></div>

