<!DOCTYPE html5	>
<html lang="es">
  <body>
    <partial-header title='GLSP Boost' description='Te boosteamo pa que salga de bronce'></partial-header>
    <div class="containerWeb">

        <div class="row row1">

            <div class="rowContainer">

                <div class="col-md-6">
                    <div><img src="http://es.worldboosting.com/assets/img/item1.png" alt="American Football" class='udyr'></div>
                </div>
                <div class="col-md-6">
                        <div>
                            <p class="category-title">¡Elige tu nivel!</p>
                            <div class="category-title totals">
                                Sea cual sea tu rango, nosotros te haremos subir al que desees.
                            </div>
                        </div><!-- end .category-title -->
                        <div class="category-info">
                            <div class="section-description">
                                Simplemente tienes que colocar tu division actual y tu division deseada en la seccion compras y nosotros haremos el resto, te llevaremos a la division deseada de la manera mas rapida y segura.</div><!-- end .description -->
                            <div class="more"><a routerLink="/buy-boost" routerLinkActive="active">+ Ver precios</a></div>
                        </div><!-- end .category-info -->
                </div>
                
            </div>
        </div>


        <div class="row row2">
            <div class="rowContainer">
                <div class="col-md-6">
                    <div>
                        <p class="category-title">Sobre Nosotros</p>
                        <p class="section-description">
                            World Boosting fue creado hace 3 años con el fin de ofrecer un servicio de calidad para los jugadores de League of Legends. Con alrededor de 5.000 servicios brindados y clientes 100% satisfechos en más de 15 países y 7 regiones activas (100% de reputación positiva), World Boosting es la empresa más completa y estructurada de Elo Boost. Ofrecemos a los clientes un servicio responsable, personalizado, rápido, discreto garantizando la efectividad, la transparencia, el tiempo de entrega de la compra y la privacidad de la información de las cuentas y del comprador.
                        </p>
                        <p><a href="#" class="btn btn-red">+ Contáctanos</a></p>
                    </div><!-- end .column-2 -->
                </div>
                <div class="col-md-6">
                    <img src="http://es.worldboosting.com/assets/img/item5.png" alt="touchdown" class='udyr'>
                </div>
            </div>
        </div>
        <div class="row row3">
            <div class="rowContainer">
                <div class="col-md-6">
                    <div class="column-2">
                        <img src="http://es.worldboosting.com/assets/img/item3.png" alt="MOTOR SPORTS" class='udyr'>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <p class="category-title">Trabaja con Nosotros</p>
                        <div class="category-title totals">
                            Gana dinero y divertite al mismo tiempo!</div>
                    </div><!-- end .category-title -->
                    <div class="category-info">
                        <div class="section-description">
                            Si sos un jugador habilidoso de las ligas mas altas del juego (D1-Maestro-Retador), y te gustaría ganar dinero jugando, llena nuestro formulario para trabajar con nosotros!                                    </div><!-- end .description -->
                        <div class="more"><a href="http://es.worldboosting.com/work/" class="btn btn-red">+ Saber más</a></div>
                    </div><!-- end .category-info -->
                </div>
            </div>
        </div>
  </div>
    <div class="footer-home"><partial-footer></partial-footer></div>
  </body>
</html>
