<!DOCTYPE html5	>
<html lang="es">
  <head>
    <title>Hexacta Framework Title</title>
  </head>
  <body><partial-sidebar open= 'elementos'></partial-sidebar>
    <div class="container hx-full-container">
      <div class="main">
        <div id="wrapper"><!-- Sidebar -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="hx-title">
                  <h2 class="page__name">Elementos Inline</h2>
                  <p class="section-description">Texto sobre elementos en linea</p>
                </div>
                <div class="block">
                  <h3 class="section__title">Nombre sección</h3>
                  <h4 class="section-subtitle">Subtítulo sección</h4>
                </div>
                <div class="example">
                  <div class="col-md-4">
                    <h4>Small (80% del tamaño de base fuente)</h4>
                    <p><span class="hx-small">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Smaller (65% del tamaño de base fuente)</h4>
                    <p><span class="hx-smaller">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Smallest (50% del tamaño de base fuente)</h4>
                    <p><span class="hx-smallest">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <hr/>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h4>Subrallado</h4>
                    <p><span class="hx-und">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Tachado</h4>
                    <p><span class="hx-lth">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Linea superior</h4>
                    <p><span class="hx-ovl">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <hr/>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h4>Resaltado</h4>
                    <p><span class="hx-mar">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Resaltado de Colores Invertidos </h4>
                    <p><span class="hx-mir">Alias ratione recusandae debitis ducimus maxime		</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Enfasis</h4>
                    <p><span class="hx-emp">Alias ratione recusandae debitis ducimus maxime									</span></p>
                  </div>
                  <hr/>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h4>Capitalizadas</h4>
                    <p><span class="hx-cap">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Mayusculas</h4>
                    <p><span class="hx-upp">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Minunsculas</h4>
                    <p><span class="hx-low">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <hr/>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h4>Delgada</h4>
                    <p><span class="hx-thin">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Ligera</h4>
                    <p><span class="hx-thin">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Regular</h4>
                    <p><span class="hx-light">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <hr/>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h4>Mediana</h4>
                    <p><span class="hx-regular">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Negrita</h4>
                    <p><span class="hx-bold">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                  <div class="col-md-4">
                    <h4>Negrita Pesada (Black)</h4>
                    <p><span class="hx-black">Alias ratione recusandae debitis ducimus maxime</span></p>
                  </div>
                </div><br/><!-- html / css -->
<code-snippet htmlCode='htmlCode' jsCode='jsCode'></code-snippet>
                <!--ul(class="nav nav-tabs nav-justified" role="tablist")
                li.active
                	a(href="#html" role="tab" data-toggle="tab")
                		strong HTML
                -->
                <!--div.tab-content
                div(role="tabpanel" class="tab-pane active" id="html")
                	pre
                		|&lt;p&gt;&lt;span class="hx-small"&gt; Small  &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-smaller"&gt; Smaller &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-smallest"&gt; Smallest &lt;/span&gt;&lt;/p&gt;
                		
                		|&lt;p&gt;&lt;span class="hx-und"&gt; Subrayado &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-lth"&gt; Tachado &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-ovl"&gt; Linea Superior &lt;/span&gt;&lt;/p&gt;
                		
                		|&lt;p&gt;&lt;span class="hx-mar"&gt; Resaltado &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-mar"&gt; Resaltado Invertido &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-emp"&gt; Enfasis &lt;/span&gt;&lt;/p&gt;
                		
                		|&lt;p&gt;&lt;span class="hx-cap"&gt; Capitalizada &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-upp"&gt; Mayuscula &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-low"&gt; Minuscula &lt;/span&gt;&lt;/p&gt;
                
                		|&lt;p&gt;&lt;span class="hx-thin"&gt; Delgada &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-light"&gt; Ligera &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-regular"&gt; Regular &lt;/span&gt;&lt;/p&gt;
                		
                		|&lt;p&gt;&lt;span class="hx-medium"&gt; Mediana &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-bold"&gt; Negrita &lt;/span&gt;&lt;/p&gt;
                		|&lt;p&gt;&lt;span class="hx-black"&gt; Black &lt;/span&gt;&lt;/p&gt;
                --><!-- end html / css -->
              </div><!-- end ELEMENTOS INLINE -->
            </div>
          </div>
        </div>
      </div><!-- /#wrapper -->
    </div><!-- / container -->
<partial-footer></partial-footer>
  </body>
</html>