doctype html5	
html(lang="es")
	head
		title Hexacta Framework Title
	
	body
		<partial-sidebar open= 'elementos'></partial-sidebar>
		div.container.hx-full-container
			div.main
				div#wrapper
					<!-- Sidebar -->
					div#page-content-wrapper
						div.container-fluid
							div.row
								div.hx-title
									h2.page__name Elementos Inline
									p.section-description Texto sobre elementos en linea

								div.block
									h3.section__title Nombre sección
								
									h4.section-subtitle Subtítulo sección
								div.example
									div.col-md-4
										h4 Small (80% del tamaño de base fuente)
										p
											span.hx-small Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Smaller (65% del tamaño de base fuente)
										p
											span.hx-smaller Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Smallest (50% del tamaño de base fuente)
										p
											span.hx-smallest Alias ratione recusandae debitis ducimus maxime
									hr
								div.row
									div.col-md-4
										h4 Subrallado
										p
											span.hx-und Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Tachado
										p
											span.hx-lth Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Linea superior
										p
											span.hx-ovl Alias ratione recusandae debitis ducimus maxime
									hr
								div.row
									div.col-md-4
										h4 Resaltado
										p
											span.hx-mar Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Resaltado de Colores Invertidos 
										p
											span.hx-mir Alias ratione recusandae debitis ducimus maxime		
									div.col-md-4
										h4 Enfasis
										p
											span.hx-emp Alias ratione recusandae debitis ducimus maxime									
									hr
								div.row
									div.col-md-4
										h4 Capitalizadas
										p
											span.hx-cap Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Mayusculas
										p
											span.hx-upp Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Minunsculas
										p
											span.hx-low Alias ratione recusandae debitis ducimus maxime
									hr
								div.row
									div.col-md-4
										h4 Delgada
										p
											span.hx-thin Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Ligera
										p
											span.hx-thin Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Regular
										p
											span.hx-light Alias ratione recusandae debitis ducimus maxime
									hr
								div.row
									div.col-md-4
										h4 Mediana
										p
											span.hx-regular Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Negrita
										p
											span.hx-bold Alias ratione recusandae debitis ducimus maxime
									div.col-md-4
										h4 Negrita Pesada (Black)
										p
											span.hx-black Alias ratione recusandae debitis ducimus maxime
								br
								<!-- html / css -->
								<code-snippet htmlCode='htmlCode' jsCode='jsCode'></code-snippet>
								//ul(class="nav nav-tabs nav-justified" role="tablist")
									li.active
										a(href="#html" role="tab" data-toggle="tab")
											strong HTML
								//div.tab-content
									div(role="tabpanel" class="tab-pane active" id="html")
										pre
											|&lt;p&gt;&lt;span class="hx-small"&gt; Small  &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-smaller"&gt; Smaller &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-smallest"&gt; Smallest &lt;/span&gt;&lt;/p&gt;
											
											|&lt;p&gt;&lt;span class="hx-und"&gt; Subrayado &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-lth"&gt; Tachado &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-ovl"&gt; Linea Superior &lt;/span&gt;&lt;/p&gt;
											
											|&lt;p&gt;&lt;span class="hx-mar"&gt; Resaltado &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-mar"&gt; Resaltado Invertido &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-emp"&gt; Enfasis &lt;/span&gt;&lt;/p&gt;
											
											|&lt;p&gt;&lt;span class="hx-cap"&gt; Capitalizada &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-upp"&gt; Mayuscula &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-low"&gt; Minuscula &lt;/span&gt;&lt;/p&gt;

											|&lt;p&gt;&lt;span class="hx-thin"&gt; Delgada &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-light"&gt; Ligera &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-regular"&gt; Regular &lt;/span&gt;&lt;/p&gt;
											
											|&lt;p&gt;&lt;span class="hx-medium"&gt; Mediana &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-bold"&gt; Negrita &lt;/span&gt;&lt;/p&gt;
											|&lt;p&gt;&lt;span class="hx-black"&gt; Black &lt;/span&gt;&lt;/p&gt;
								<!-- end html / css -->
							<!-- end ELEMENTOS INLINE -->
			<!-- /#wrapper -->
		<!-- / container -->
		<partial-footer></partial-footer>