<!-- ..................................................... HEADER ..................................................... -->
<partial-header title='Mensaje enviado' description='' selected='1'></partial-header>
<!-- ..................................................... CONTENIDO ..................................................... -->
    <div class="containerWeb">
<!-- ..................................................... SEPARADOR ..................................................... -->
            <div class="categories-nav-hold">
                <div class="categories-nav">
                    <div class="container">
                        <span class="title">Gracias!</span>
                    </div><!-- end .container -->
                </div><!-- end .categories-nav -->
            </div>
<!-- ..................................................... ROW 1 ..................................................... -->
        <section class="row rowGrey">
            <div class="rowContainer" style="margin-top: 5%">
                <div class="section-description">
                    
<p class="category-title" style="font-size:18px;"   >Gracias por contactarte, tu mensaje fue enviado exitosamente!</p>        
<br>
Seras redirigido a nuestra web de contacto en unos segundos
                </div><!-- end .description -->
            </div>
        </section> 
        
  </div>
<!-- ..................................................... FOOTER ..................................................... -->
    <div class="footer-home"><partial-footer></partial-footer></div>

