
/********************** Botones **********************/
/*****************************************************/

@import "../variables";

.hx-button,
.hx-btn {
	border: 0; border-radius: 3px; cursor: pointer;	
	background: $hx-btn-default; color: $hx-btn-color;
	margin: 0 .5rem 1rem 0; @include x-rem(padding, 9px 23px);
	font-family: "open sans", sans-serif; font-style: normal; font-weight: 400; @include x-rem(font-size, 12px);
	text-decoration: none; text-align: center;text-transform: none; text-shadow: none; line-height: normal;
	transition: all 0.3s linear;
	vertical-align: baseline; user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	margin: 16px;
	text-decoration:none;
	display: inline-block;

	&:hover,&:focus{
		background: lighten($hx-btn-default, 25%);
		text-decoration:none;
	}

	&.hx-btn-transparente {
		background: transparent;
		border: 1px solid $hx-btn-default-border;
		color: $oscuro;
		box-shadow: 0 0 0 0 #fff inset;
		@include x-rem(padding, 8px 22px);

		&:hover,&:focus {
			border-color: lighten($hx-btn-default-border,25%);
			color: lighten($hx-btn-default-border,25%);
			box-shadow: 0 0 1px 1px lighten($hx-btn-default-border,25%) inset;
		}
	}

	&.hx-btn-primary {
		background: $hx-btn-primary;

		&:hover,&:focus {
			background: darken($hx-btn-primary, 25%);
		}
	}

	&.hx-btn-positive {
		background: $hx-btn-positive;

		&:hover,&:focus {
			background: darken($hx-btn-positive, 25%);
		}
	}

	&.hx-btn-negative {
		background: $hx-btn-negative;

		&:hover,&:focus {
			background: darken($hx-btn-negative, 25%);
		}
	}

	&.btn-miny{
		transform: $mini;
	}
	&.btn-tiny{
		transform: $tiny;
	}
	&.btn-small{
		transform: $small;
	}
	&.btn-medium{
		transform: $medium;
	}
	&.btn-large{
	 	transform: $large;
	}
	&.btn-big{
		transform: $big;
	}
	&.btn-huge{
		transform: $huge;
	}

}
