.hx-flex {
	display: flex;
}

.hx-flex-row {
	flex-direction: row;
}

.hx-flex-rvrw {
	flex-direction: row-reverse;
}

.hx-flex-col {
	flex-direction: column;
}

.hx-flex-rvcl {
	flex-direction: column-reverse;
}

.hx-flex-nowr {
	flex-wrap: nowrap;
}

.hx-flex-wrap {
	flex-wrap: wrap;
}

.hx-flex-wrrv {
	flex-wrap: wrap-reverse;
}