[class*="hx-ls-"]{
	padding-left: .5em;

	ul,ol{padding-left: .7em;}
}

.hx-ls-decim {
	list-style-type: decimal;
}

.hx-ls-zdecim {
	list-style-type: decimal-leading-zero;
}

.hx-ls-lowro {
	list-style-type: lower-roman;	
}

.hx-ls-upro {
	list-style-type: upper-roman;
}

.hx-ls-lowgr {
	list-style-type: lower-greek;
}

.hx-ls-lowla {
	list-style-type: lower-latin;
}

.hx-ls-uppla {
	list-style-type: upper-latin;
}

.hx-ls-armen {
	list-style-type: armenian;
}

.hx-ls-georg {
	list-style-type: georgian;
}

.hx-ls-disclist{
	list-style-type: disc;
}

.hx-ls-circlelist {
	list-style-type: circle;
}

.hx-ls-squarelist {
	list-style-type: square;
}

.hx-ls-nonelist{
	list-style-type: none;
}

.hx-ls-list-inherit {
	ul, ol {
		list-style-type: inherit;
	}
}

.hx-list-noinherit {
	ul,ol {
		list-style-type: none;
	}
}

/* Listas  -- gentileza de Natal ;-) */
	dd,dt {
		line-height: 1.71428571
	}

	dt {
		color: #768499;
		font-weight: 500
	}

	dd {
		font-weight: 500
	}

	.dl-vertical dd,.dl-vertical dt {
		padding: 0 .25em
	}

	.dl-vertical dt {
		border-top: 1px solid #ced3d7
	}

	.dl-vertical dt:first-child {
		border: 0
	}

	.dl-horizontal dt {
		padding-left: .25em;
		text-align: left;
		overflow: visible;
		text-overflow: clip;
		white-space: normal
	}

	.dl-horizontal.ellipsis dt {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
	}

	.dl-zebra {
		display: flex;
		flex-wrap: wrap
	}

	.dl-zebra dt {
		width: 50%;
		margin-left: 0
	}

	.dl-zebra dt:nth-of-type(odd),.dl-zebra dt:nth-of-type(odd)+dd {
		background: #e9ebed
	}

	.dl-zebra dd {
		width: 50%;
		margin-left: 0;
		padding-left: 18px
	}

	.dl-ellipsis dd,.dl-ellipsis dt {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis
	}

	.dl-40-60 dt {
		width: 40%
	}

	.dl-40-60 dd {
		width: 60%
	}

	.dl-25-75 dt {
		width: 25%
	}

	.dl-25-75 dd {
		width: 75%
	}

	.dl-33-66 dt {
		width: 33%
	}

	.dl-33-66 dd,.dl-66-33 dt {
		width: 66%
	}

	.dl-66-33 dd {
		width: 33%
	}
/**/