.hx-table-wrap {
	width:100%; 
	overflow-x:auto;
	margin-bottom:20px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover  {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #066f66;
  border-color: #1d8c7d;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #004e47;
  background-color: #eee;
  border-color: #ddd;
}

.nav-tabs li a, .nav-tabs li a:hover {    
	background-color: whitesmoke;
}

.pagination>li>a, .pagination>li>span,
.paginate_button {
    color: #009f93;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.dataTables_wrapper {
	margin:15px;
}
table.fixedHeader-floating {
	width: auto !important;
	background-color: #91d6ce;
	font-family: 'Open Sans', sans-serif;
}
thead, table.DTFC_Cloned thead, table.DTFC_Cloned tfoot {
	background-color: #91d6ce !important;
}
.even {
	background-color: rgba(249, 249, 249, 0.7) !important;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #f6f6f6 !important;
}
div.DTFC_LeftBodyWrapper table.dataTable.no-footer td, div.DTFC_RightBodyLiner table.dataTable.no-footer td {
    background: #009f93 !important;
    color:#FFF;
}
.dataTables_scrollHeadInner table, .dataTables_scrollBody table,
table.dataTable, table.dataTable.no-footer {
	margin: 0 !important;
}
div.DTFC_LeftBodyWrapper table.dataTable.no-footer, div.DTFC_RightBodyLiner table.dataTable.no-footer{
	margin-top: 0 !important;
}

/*----Table responsive------*/

.hx-responsive-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.hx-responsive-table thead tr{
  background-color: #91d6ce !important;
}
.hx-responsive-table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
.hx-responsive-table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
.hx-responsive-table th,
.hx-responsive-table td {
  padding: .625em;
  text-align: center;
}
.hx-responsive-table th {
  font-size: .85em;
  letter-spacing: .1em;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .hx-responsive-table {
    border: 0;
  }
  .hx-responsive-table caption {
    font-size: 1.3em;
  }
  .hx-responsive-table thead {
    display: none;
  }
  .hx-responsive-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  .hx-responsive-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .hx-responsive-table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .hx-responsive-table td:last-child {
    border-bottom: 0;
  }
}