.hx-tab-content {
	border: solid 1px #ccc;
    padding: 20px 40px 50px;
    margin-bottom: 35px;
    border-radius: 0 5px 5px 5px;
}

.nav-tabs.nav-justified>li {
	width: auto !important;
}

.flex-foto-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.hx-mid-foto {
	width: 100%;
    max-height: 420px;
    max-width: 721px;
}