/*****************************************************/
/********************* Titulos ***********************/
/*****************************************************/

.hx-h1{
	font-size: 2rem;
}

.hx-h2{
	font-size: 1.5rem;
}

.hx-h3{
	font-size: 1.17rem;
}

.hx-h4{
	font-size: 1.12rem;
}

.hx-h5{
	font-size: .83rem;
}

.hx-h6{
	font-size: .75rem;
}
