<!DOCTYPE html5	>
<html lang="es">
  <head>
    <title>Hexacta Framework Title</title>
  </head>
  <body><partial-sidebar open= 'elementos'></partial-sidebar>
    <div class="container hx-full-container">
      <div class="main">
        <div id="wrapper">
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="hx-title">
                  <h2 class="page__name">Tablas</h2>
                  <p class="section-description">Las tablas son elementos muy utilizados en sitios y/o sistemas como los que se desarrollan en la empresa. Se utilizan para mostrar ordenadamente listados de datos, que mucha veces son demasiado largos y complejos. Además de poder tener una visiòn mucho más ordenada y simple de tantos datos, las tablas pueden a su vez filtrar los datos según las necesidades del usuario, haciendo este listado más concreto y específico. También pueden ordenarse los datos según le convenga al usuario y editar los datos allí mismo.</p>
                </div>
                <div class="block">
                  <h3 class="section__title">Tipos</h3>
                </div><code-snippet titulo='Tabla Basica' htmlCode='basicTable'></code-snippet>
                <div class="block hx-ancla" id="tables"></div><basic-table></basic-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html><partial-footer></partial-footer>