<!DOCTYPE html5	>
<html lang="es">
  <head>
    <title>Hexacta Framework Title</title>
  </head>
  <body><partial-sidebar open= 'elementos'></partial-sidebar>
    <div class="container hx-full-container">
      <div class="main">
        <div id="wrapper"><!-- Sidebar -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="hx-title">
                  <h2 class="page__name">Elementos / Iconos</h2>
                  <p class="section-description">Morbi pretium ac nulla non gravida. Fusce vehicula felis id pretium suscipit. Etiam eu tellus consectetur, aliquet dui quis, tincidunt tortor. In auctor congue pulvinar. Quisque pretium dui quis interdum commodo. Etiam tristique lectus urna, sit amet tincidunt mauris egestas ac. Suspendisse quis turpis quis mi viverra vehicula. In sollicitudin lectus enim, quis eleifend augue condimentum et.</p>
                </div>
                <div class="block">
                  <h3 class="section__title">Nombre sección</h3>
                  <h4 class="section-subtitle">Subtítulo sección</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><partial-footer></partial-footer>
  </body>
</html>