<!-- ..................................................... HEADER ..................................................... -->
<partial-header title='CONTRATO' description='' selected='3'></partial-header>
<!-- ..................................................... CONTENIDO ..................................................... -->
    <div class="containerWeb">
<!-- ..................................................... SEPARADOR ..................................................... -->
            <div class="categories-nav-hold">
                <div class="categories-nav">
                    <div class="container">
                        <span class="title">Leer atentamente</span>
                    </div><!-- end .container -->
                </div><!-- end .categories-nav -->
            </div>
<!-- ..................................................... ROW 1 ..................................................... -->
        <section class="row rowGrey">
            <div class="rowContainer" style="margin-top: 5%">
                <div class="section-description">
                    
<p class="category-title" style="font-size:18px;"   >GSLPBoost LAS-LAN-BR</p>        
<br>
1.Cumplir con el paquete contratado con el comercio realizado a través de correo electrónico y página oficial, en tiempo y forma.
<br>
2.Mantener la confidencialidad de los datos facilitados por el cliente.
<br>
3.Después de que se haya efectuado el pago, la fecha límite para la finalización del servicio se estipula en el momento de la contratación del servicio y / o después del inicio. Por otra parte, se agregan 3 dias al plazo máximo. Este período puede cambiar si:
<br>
<blockquote style="border:none;">
    -La cuenta está ganando un valor igual o inferior a 15 (quince) puntos por victoria.<br>
    -Hay restricciones de tiempo para el juego.<br>
    -Cualquier tarea de mantenimiento en el servidor.<br>
    -Hay un problema y / o inestabilidad técnica en el servidor.
</blockquote>
4.Proporcionar asistencia y responder a las preguntas después de la compra y durante el período de servicio.
<br>
5.No utilizar RP en las cuentas proporcionadas sin el permiso del cliente.
<br>
6.No añadir jugadores en el cliente.
<br>
7.Utilizar la cuenta exclusivamente para clasificatorias SOLO / DUO Q.
<br>
8.GSLPBoost puede cambiar el período de finalización del servicio, sin previo aviso, si se produce un problema en el servidor (inhabilitación de clasificatorias) o modificación del boost.
<br>
9.El plazo de entrega empieza a contar desde el siguiente día de acreditación del pago, incluso si el servicio se inicia en el día de pago.
<br>
10. En el raro caso de "Elo Drop" (A menudo causada por alcanzar los 0 (cero) puntos con la cuenta y continuar perdiendo partidas) – GSLPBoost garantiza el retorno a la división original y la continuidad del servicio.
<br>
11.En el raro caso que se produzca un retraso en la entrega, World Boosting se compromete a compensar al cliente con una división adicional de lo contratado. Exceptuando si se producen retrasos justificables.
<br>
12.No responder los mensajes de amigos en la cuenta sin el permiso expreso del cliente.
<br>
GSLPBoost tiene el deber de llevar a cabo la compensación de Riot Points (RP) en el caso del gasto indebido por el "Booster";
<br>
<br>
<p class="category-title" style="font-size:18px;"   >CLIENTE</p> 
<br>
1.Proporcionar los mínimos de 2 páginas completas Runas, siendo ellos uno de Daño de Ataque y otro de Poder de Habilidad; Si la cuenta no tiene estas dos páginas completas, el booster podría usar IP de cuenta, sin previo aviso, para completar las páginas y realizar el boost rápidamente (En el caso de que la cuenta tampoco tenga PI para hacer compro de las runas necesarias, el boost podrá ser extendido por tiempo indefinido).
<br>
2.Proporcionar la cuenta para su uso siempre que lo solicite GSLPBoost mientras dure el proceso del boost (Caso contrario puede extenderse).
<br>
3.Queda prohibido jugar Partidas Clasificatorias una vez acreditado el pago. Si se llegara a violar esta cláusula, se cancela la orden de boost sin devolución de dinero (Independientemente si esas partidas se ganaron o se Si se pueden jugar Partidas Normales durante el proceso de boost, previo aviso a GSLPBoost a través de Skype, perdieron). el chat de Facebook o el chat en línea.
<br>
4.Hacer el pago por adelantado.
<br>
5.Si desea iniciar sesión en su cuenta debe ser notificado antes a través de el chat de Facebook o el chat en línea para liberar la cuenta. Si se provocara la desconexión del booster en una selección de campeones, restando así puntos de liga, o dentro del juego, se podrán descontar victorias o rescindir el contrario sin reintegro.
<br>
6.El cambio de contraseñas antes del comienzo o durante el boost, sin previo aviso por parte del cliente podrá significar la cancelación del contrato sin reintegro.
<br>
7.En el caso que la cuenta se encuentre penalizada con tiempo de espera para poder jugar las Partidas Clasificatorias, el cliente mismo debera levantar la penalización, para poder continuar con el boost.
                </div><!-- end .description -->
            </div>
        </section> 
        
  </div>
<!-- ..................................................... FOOTER ..................................................... -->
    <div class="footer-home"><partial-footer></partial-footer></div>

