<!-- ..................................................... HEADER ..................................................... -->
<partial-header title='TERMINOS DE USO' description=''></partial-header>
<!-- ..................................................... CONTENIDO ..................................................... -->
    <div class="containerWeb">
<!-- ..................................................... SEPARADOR ..................................................... -->
            <div class="categories-nav-hold">
                <div class="categories-nav">
                    <div class="container">
                        <span class="title">Leer atentamente</span>
                    </div><!-- end .container -->
                </div><!-- end .categories-nav -->
            </div>
<!-- ..................................................... ROW 1 ..................................................... -->
        <section class="row rowGrey">
            <div class="rowContainer" style="margin-top: 5%">
                <div class="section-description">
                    
<p class="category-title" style="font-size:18px;"   >GSLPBoost LAS-LAN-BR</p>        
<br>
1. Por favor asegurate de leer completamente los términos y servicios antes de hacer cualquier compra, este documento lista todo lo que debes saber antes de comprar legalmente. Siendo claro lo anterior, nuestro cliente, acepta al usar nuestros servicios que esta en completo conocimiento de los términos de uso y reconoce haber leido este documento en su totalidad antes de comprar.
<br>
<br>
2. Si por algún motivo no esta de acuerdo con los términos por favor contáctenos (usando el área "Contacto" en este sitio web), de esta manera podremos discutir las razones apropiadas.
<br>
<br>
3. El servicio de boost es llevado a cabo por GSLPBoost y ningún otro sitio, servicio o empresa esta asociado a GSLPBoost.
<br>
<br>
4. Todos y cada uno de los empleados no autorizados no tienen permitidos bajo ninguna circunstancia comprar u ofrecer cualquier servicio de este sitio web o de nosotros o de cualquier filial directa de ninguna manera o forma. El cliente acepta todos los riesgos y se compromete a defender, mantener indemne e indemnizar a GSLPBoost, para cualquier alegatos de autorización y cualquier afiliado con respecto a este o cualquier transacción en lo que se refiere al uso de la propiedad intelectual de propiedad.
<br>
<br>
5. GSLPBoost, no hace ninguna representación en cuanto a la utilización, la propiedad, o la transferencia de Riot Games, o la propiedad intelectual de sus afiliados y el cliente es plenamente consciente de este caso.
<br>
<br>
6. El contenido de este sitio y todas las extensiones de este sitio se muestran como son y sin garantía de ningún tipo , ya sea expresa o implícita. En la máxima medida de lo permitido en respeto a la ley, GSLPBoost , rechaza todas las garantías implica o expresa, incluyendo pero no limitado a , las garantías implícitas de comerciabilidad y adecuación para un propósito particular . En relación con todos los servicios, GSLPBoost sólo está proporcionando un servicio al cliente ; ninguna mercancía, bienes, o cualquier extensión de un producto físico están siendo vendidos por GSLPBoost.
<br>
<br>
7. GSLPBoost , no pretende ser el titular con respecto a cualquier propiedad intelectual no autorizada y simplemente está actuando como cesionario de terceros de la propiedad entre la autorización y el cliente , una vez que el pago es recibido por GSLPBoost y los servicios prometidos se completan, el cliente va a tomar el lugar de GSLPBoost como usuario de la propiedad intelectual no autorizada hasta el límite permitido por el autorizado. Al final de cualquier transacción entre el cliente y GSLPBoost , el cliente asumirá que GSLPBoost culminó sus servicios y se hace totalmente responsable de su propiedad.
<br>
<br>
8. GSLPBoost, se reserva el derecho de cambiar o modificar cualquiera de las condiciones del sitio, términos o políticas con o sin notificación alguna presente o anteriores a los clientes, miembros y visitantes a gslpboost.com así como nuestras respectivas extensiones. Es responsabilidad exclusiva del citado a prestar mucha atención a cualquier alteración, cambio, traslado o adición a las cláusulas y normas escritas en los términos y condiciones. Con la compra de cualquier servicio que GSLPBoost ofrece en www.gslpboost.com o fuera de él, usted acepta automáticamente a los términos y condiciones en su totalidad.
​<br>
<br>
9. Deberes del Cliente:
<br>
<br>
10. GSLPBoost no está asociada con Riot Games o cualquier entidad no autorizada de cualquier manera, forma o manera. GSLPBoost, advierte a cualquier cliente o cliente potencial que se abstengan de violar o realizar cualquier acción ilegal en lo que respecta a los derechos de propiedad intelectual de Riot Games o cualquier entidad autorizada. 
<br>
<br>
11. Al entrar a nuestro sitio, alguna extensión de nuestro sitio, nuestra pagina de Facebook o alguna pagina relacionada a nuestro servicio, al buscar información en foros, Internet, paginas acerca de nuestro servicio,usted declara bajo pena de perjurio y bajo las leyes de cualquier país bajo las leyes de latinoamerica, que no es empleado o afiliado de Riot Games y sus respectivas filiales y subsidiarias. 
<br>
<br>
12. Al utilizar nuestro servicio expreso en GSLPBoost, usted cliente, acepta y declara que conoce todos los derechos legales, y que usted, el cliente, es consciente de que con la compra de cualquier servicio bajo la GSLPBoost, conoce lo que está pagando, y que el servicio que usted está pagando coincide con su información dentro del juego. 
<br>
<br>
14. Usted cliente, acepta que si GSLPBoost determina que la cantidad de Victorias/LP descritas en su compra no concuerdan con la información estadística dentro del juego se tomaran las medidas necesarias para ajustarlo. Por ejemplo, si usted indico que esta en la división 5 de bronze y compro el paquete para subir a división 1 de bronze, pero dentro del juego resulta que su división real es bronze 3, se completará el servicio de boost hasta la división especificada en la compra, sin embargo no se hará reembolso de ninguna cantidad. 
<br>
<br>
15. Usted cliente, acepta que al comprar alguno de los servicios ofrecidos por GSLPBoost usted no puede discutir ninguna compra luego de finalizado el servicio o de haber sido completado parcialmente, usted cliente se compromete a no violar las reglas de devolución de pago estipuladas en cualquiera de los métodos de pago de GSLPBoost.
<br>
<br>
16. Usted cliente acepta que si usted compra alguno de nuestros servicios, y al finalizar este servicio usted intenta recuperar el dinero mediante denuncia o algún método, habrá penalizaciones legales dependiendo del país donde usted resida y acepta cualquier penalización que GSLPBoost le aplique. 
<br>
<br>
17. Usted cliente acepta que es completamente responsable de la perdida de LP, PARTIDAS o PROMOCIONES debido al inicio de sesión por parte de usted o cualquier persona relacionada a usted que conozca su contraseña, algún "hacker" que obtenga acceso a su cuenta mientras el servicio es llevado a cabo. Acepta ademas que las personas encargadas del servicio de boosting pueden y tienen el derecho de UTILIZAR SUS PUNTOS IP, CAMBIAR SUS MAESTRÍAS/RUNAS Y COMPRAR CAMPEONES. 
<br>
<br>
18. Usted cliente, acepta que no jugará partidas de promoción alguna y que si lo hace, GSLPBoost se reserva el derecho de establecer el servicio como terminado. 
<br>
<br>
19 Usted cliente, acepta que si juega partidas de reclutamiento (ranked) mientras el servicio de boost es llevado a cabo, GSLPBoost determinara el servicio como terminado sin derecho a reembolso. 
<br>
<br>
20 Usted cliente, acepta que si la ganancia de LP por partida o la división especificada es inferior dentro del juego, tendrá que pagar el dinero extra para completar el precio del paquete correspondiente, GSLPBoost se reserva el derecho de rechazar esta solución y negar el servicio al cliente.
<br>
<br>
21. Derechos del Cliente:
<br>
<br>
22. Los clientes se reservan el derecho de poder ser espectadores en los juegos durante el servicio de boosting y de preguntar cualquier duda solo a los contactos de GSLPBoost. 
<br>
<br>
23. El cliente tiene derecho a pedir información de las partidas realizadas durante el servicio, a solicitar instruccion basica en cuanto al mismo. 
<br>
<br>
24. El cliente tiene derecho a recibir un reembolso en caso de un servicio no completado que no haya sido previamente justificado.
                </div><!-- end .description -->
            </div>
        </section> 
        
  </div>
<!-- ..................................................... FOOTER ..................................................... -->
    <div class="footer-home"><partial-footer></partial-footer></div>

