<!-- ..................................................... HEADER ..................................................... -->
<partial-header title='Contacto' description='Contactate con nosotros!' selected='6'></partial-header>
<!-- ..................................................... CONTENIDO ..................................................... -->
<div class="containerWeb">
<!-- ..................................................... SEPARADOR ..................................................... -->
            <div class="categories-nav-hold">
                <div class="categories-nav">
                    <div class="container">
                        <span class="title">Contactanos via Facebook, Instagram o por Mail!!</span>
                    </div>
                </div>
            </div>
<!-- ..................................................... ROW 2 COLUMN 1 ..................................................... -->
<section class="row rowWhite" style="min-height: 0em;">
    <div class="rowContainer">

        <div class="col-md-6">
            <div class="info-container">

                <div class="category-title totals" style="color:#EF4135;">
                    ELO BOOSTERS
                </div>
                <div class="section-description">
                    Diamond 2+, sin suspensiones recientes (al menos 100 de honor en la cuenta).
                </div>
        
            </div>
            <div class="info-container">
                    
                <div class="category-title totals" style="color:#EF4135;">
                    JUNIOR BOOSTERS 
                </div>
                <div class="section-description">
                    Liga: Diamante 5 - Diamante 2, sin suspensiones recientes 
                    (al menos 100 de honor en la cuenta. Comprobaremos el monto del honor, ya que se restablece a 0 en la suspensión del tribunal). 
                    Restricciones: 1. El pago equivale al 80% de los refuerzos habituales. 2. No se puede boostear por encima del Platino 3
                </div>
                                            
            </div>
        </div>
        <!-- ..................................................... ROW 2 COLUMN 2 ..................................................... -->
        <div class="col-md-6">
            <div class="section-description" style="margin-top: 15%; font-weight: bold; color:#EF4135;">
                Completa el siguiente formulario si quieres trabajar con nosotros.
            </div>
            <div>
                <p>(Puede que tu navegador bloquee el formulario)</p>
            </div>
            <work-form></work-form>
        </div>

    </div>
</section>
        <!-- ..................................................... ROW 1 ..................................................... -->


        
</div>
<!-- ..................................................... FOOTER ..................................................... -->
    <div class="footer-home"><partial-footer></partial-footer></div>

