<!-- ..................................................... HEADER ..................................................... -->
<partial-header title='Comprar Boost' description='Elegi la opcion acorde a vos'></partial-header>
<!-- ..................................................... CONTENIDO ..................................................... -->
<div class="containerWeb">
<!-- ..................................................... SEPARADOR ..................................................... -->
<!-- ..................................................... ROW 2 COLUMN 1 ..................................................... -->
    <section class="row rowWhite" >
      <div class="rowContainer" >
          <div class="col-md-12">
              <tabs class="nav">
                <tab [tabTitle]="'Tab 1'">  <subir-divisiones></subir-divisiones>     </tab>
                <tab tabTitle="Tab 2">      <victorias-netas></victorias-netas>       </tab>
                <tab tabTitle="Tab 3">      <primeras-partidas></primeras-partidas>   </tab>
              </tabs>
          </div>
      </div>
    </section>
</div>
<!-- ..................................................... FOOTER ..................................................... -->
    <div class="footer-home"><partial-footer></partial-footer></div>

