<!DOCTYPE html5>
<html lang="es">
  <head>
    <title>Hexacta Framework Title</title>
  </head>
  <body><partial-sidebar open= 'elementos'></partial-sidebar>
    <div class="container hx-full-container">
      <div class="main">
        <div id="wrapper"><!-- Sidebar -->
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="hx-title">
                  <h2 class="page__name">Menú</h2>
                  <p class="section-description">Un menú muestra acciones de navegación agrupadas</p>
                </div>
                <div class="block">
                  <h3 class="section__title">Tipos</h3>
                  <h4 class="section-subtitle" id="acciones-principales">Acciones principales</h4>
                  <p>Si los botones están ubicados debajo de una tabla, deben ser puestos dentro de un div con la clase .lineTableButtons</p>
                  <p>Los botones para bloquear y desbloquear no conviven, sino que aparece uno u el otro dependiendo de la acción que puede realizarse.</p>
                  <div class="section-examples">
                    <button class="btn btn-primary">Botón principal</button>
                    <button class="btn btn-primary">Botón principal<i class="fa fa-search"></i></button>
                    <div class="btn-group" [ngClass]="{open: isOpen[0]}">
                      <button class="btn btn-primary dropdown-toggle" (click)="changeShowButton(0)" type="button">Grupo principal de botones <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a scrollTo="scrollTo" href="">Acción</a></li>
                        <li><a scrollTo="scrollTo" href="">Otra acción</a></li>
                        <li><a scrollTo="scrollTo" href="">Otra cosa más</a></li>
                        <li class="divider" role="separator"></li>
                        <li><a scrollTo="scrollTo" href="">Link separado</a></li>
                      </ul>
                    </div>
                    <button class="btn btn-primary disabled">boton principal deshabilitado</button>
                  </div>
                  <div class="row">
                    <div class="col-md-12"><code-snippet htmlCode='htmlCode' jsCode='jsFile'></code-snippet>
                      <!--h5 HTML-->
                      <!--span(class="btn buttonViewCode" data-idtocollapse="primaryButtonsExample") expandir código-->
                      <!--span(class="btn buttonClipboard" data-classtocopy="highlight") Copiar-->
                      <!--div#primaryButtonsExample.highlight.minCode
                      pre
                      	code
                      	|&lt;button class="btn btn-primary">Primary button&lt;/button>
                      	|&lt;button class="btn btn-primary">Primary button &lt;i class="fa fa-search">&lt;/i>&lt;/button>
                      	|&lt;div class="btn-group">
                      	|	&lt;button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Primary button group &lt;span class="caret">&lt;/span>&lt;/button>
                      	|	&lt;ul class="dropdown-menu">
                      	|		&lt;li>&lt;a href="#">Action&lt;/a>&lt;/li>
                      	|		&lt;li>&lt;a href="#">Another action&lt;/a>&lt;/li>
                      	|		&lt;li>&lt;a href="#">Something else here&lt;/a>&lt;/li>
                      	|		&lt;li role="separator" class="divider">&lt;/li>
                      	|		&lt;li>&lt;a href="#">Separated link&lt;/a>&lt;/li>
                      	|	&lt;/ul>
                      	|&lt;/div>
                      	|&lt;div class="btn-group dropup floatButton">
                      	|	&lt;button type="button" class="btn btn-primary">Button dropdown right&lt;/button>
                      	|	&lt;button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      	|		&lt;span class="caret">&lt;/span>
                      	|		&lt;span class="sr-only">Toggle dropdown&lt;/span>
                      	|	&lt;/button>
                      	|&lt;/div>
                      
                      -->
                    </div>
                  </div>
                </div>
                <div class="block">
                  <h4 class="section-subtitle" id="acciones-secundarias">Acciones secundarias</h4>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="section-examples">
                        <button class="btn buttonSecondary" scrollTo="scrollTo" href="" data-canbeblocked="" type="button" data-placement="left" title="block">Recibo</button>
                        <div class="btn-group" [ngClass]="{open: isOpen[1]}">
                          <button class="btn buttonSecondary dropdown-toggle" (click)="changeShowButton(1)" type="button">Grupo primario de botones <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a scrollTo="scrollTo" href="">Acción</a></li>
                            <li><a scrollTo="scrollTo" href="">Otra acción</a></li>
                            <li><a scrollTo="scrollTo" href="">Otra cosa más</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a scrollTo="scrollTo" href="">Link separado</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 noPadding"><code-snippet htmlCode='htmlCode' jsCode='jsCode'></code-snippet>
                      <!--h5 HTML-->
                      <!--span(class="btn buttonViewCode" data-idtocollapse="secondaryBlueButtonsExample") Expandir código-->
                      <!--span(class="btn buttonClipboard" data-classtocopy="highlight") Copiar-->
                      <!--div#secondaryBlueButtonsExample.highlight.minCode
                      pre
                      	code
                      		|&lt;button href="" data-canbeblocked="" type="button" class="btn buttonSecondary" data-placement="left" title="block">Invoice&lt;/button>
                      		|&lt;div class="btn-group">
                      		|	&lt;button type="button" class="btn buttonSecondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      		|	Primary button group &lt;span class="caret">&lt;/span>
                      		|	&lt;/button>
                      		|	&lt;ul class="dropdown-menu">
                      		|		&lt;li>&lt;a href="#">Action&lt;/a>&lt;/li>
                      		|		&lt;li>&lt;a href="#">Another action&lt;/a>&lt;/li>
                      		|		&lt;li>&lt;a href="#">Something else here&lt;/a>&lt;/li>
                      		|		&lt;li role="separator" class="divider">&lt;/li>
                      		|		&lt;li>&lt;a href="#">Separated link&lt;/a>&lt;/li>
                      		|	&lt;/ul>
                      		|&lt;/div>
                      		|&lt;div class="btn-group dropup floatButton">
                      		|	&lt;button type="button" class="btn btn-primary">Botón desplegable derecho&lt;/button>
                      		|	&lt;button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      		|		&lt;span class="caret">&lt;/span>
                      		|		&lt;span class="sr-only">Abrir desplegable&lt;/span>
                      		|	&lt;/button>
                      		|&lt;/div>
                      
                      -->
                    </div>
                  </div>
                  <div class="block">
                    <h4 class="section-subtitle" id="botones-con-iconos">Botones con íconos</h4>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="section-examples">
                          <button class="btn btn-default btnBlockUnblock" href="" data-canbeblocked="" type="button" data-placement="left" title="block">Bloquear <i class="fa fa-lock"></i></button>
                          <button class="btn btn-default btnBlockUnblock" href="" data-canbeunblocked="" type="button" data-placement="left" title="unblock">Desbloquear <i class="fa fa-unlock"></i></button>
                          <button class="btn btn-default btnBlockUnblock disabled" href="" data-canbeblocked="" type="button" data-placement="left" title="block">Bloquear <i class="fa fa-lock"></i></button>
                          <button class="btn btn-default btnBlockUnblock disabled" href="" data-canbeunblocked="" type="button" data-placement="left" title="unblock">Desbloquear <i class="fa fa-unlock"></i></button>
                        </div>
                      </div>
                      <div class="col-md-12 noPadding"><code-snippet htmlCode='htmlCode' jsCode='jsCode'></code-snippet>
                        <!--h5 HTML-->
                        <!--span(class="btn buttonClipboard" data-classtocopy="highlight") Copiar-->
                        <!--div.section-examples
                        pre
                        	code
                        	|	&lt;button href="" data-canbeblocked="" type="button" class="btn btn-default btnBlockUnblock" data-placement="left" title="block">Block &lt;i class="fa fa-lock">&lt;/i>&lt;/button>
                        	|	&lt;button href="" data-canbeunblocked="" type="button" class="btn btn-default btnBlockUnblock" data-placement="left" title="unblock">Unblock &lt;i class="fa fa-unlock">&lt;/i>&lt;/button>
                        	|	&lt;button href="" data-canbeblocked="" type="button" class="btn btn-default btnBlockUnblock disabled" data-placement="left" title="block">Block &lt;i class="fa fa-lock">&lt;/i>&lt;/button>
                        	|	&lt;button href="" data-canbeunblocked="" type="button" class="btn btn-default btnBlockUnblock disabled" data-placement="left" title="unblock">Unblock &lt;i class="fa fa-unlock">&lt;/i>&lt;/button>
                        -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 paddingBottom">
                        <p>Botones sin íconos</p>
                        <div class="section-examples">
                          <button class="btn btn-default" href="" data-canbeblocked="" type="button" data-placement="left" title="Cancel">Cancelar</button>
                          <button class="btn btn-default disabled" href="" data-canbeblocked="" type="button" data-placement="left" title="Cancel">Cancelar</button>
                        </div>
                      </div>
                      <div class="col-md-12 noPadding"><code-snippet htmlCode='htmlCode' jsCode='jsCode'></code-snippet>
                        <!--h5 HTML-->
                        <!--span(class="btn buttonClipboard" data-classtocopy="highlight") Copiar-->
                        <!--div.section-examples
                        pre
                        	code
                        	|	&lt;button href="" data-canbeblocked="" type="button" class="btn btn-default" data-placement="left" title="Cancel"> Cancel&lt;/button>
                        	|	&lt;button href="" data-canbeblocked="" type="button" class="btn btn-default disabled" data-placement="left" title="Cancel"> Cancel&lt;/button>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-section-container">
            <div class="nav-section">
              <h4>Botones</h4>
              <ul>
                <li> <span [ngClass]="{collapsed: !show}"><a class="link-section" (click)="changeShow()" scrollTo="scrollTo" href="#tipos">Tipos<i class="fa fa-caret-down"></i></a></span>
                  <ul class="items-collapse collapse" [ngClass]="{in: show}" id="tipos">
                    <li><a scrollTo="scrollTo" href="#acciones-principales">Acciones principales</a></li>
                    <li><a scrollTo="scrollTo" href="#acciones-secundarias">Acciones secundarias</a></li>
                    <li><a scrollTo="scrollTo" href="#botones-con-iconos">Botones con íconos</a></li>
                  </ul>
                </li>
                <!--li 
                a(class="link-section collapsed" data-toggle="collapse" href="#contenido" aria-expanded="false" aria-controls="collapseExample") Contenidos
                	i(class="fa fa-caret-down")
                ul(id="contenido" class="items-collapse collapse")
                	li
                		a(href="#") Item 1
                -->
                <!--li 
                a(class="link-section collapsed" data-toggle="collapse" href="#estados" aria-expanded="false" aria-controls="collapseExample") Estados
                	i(class="fa fa-caret-down")
                ul(id="estados" class="items-collapse collapse")
                	li
                		a(href="#") Item 1
                -->
                <!--li 
                a(class="link-section collapsed" data-toggle="collapse" href="#variaciones" aria-expanded="false" aria-controls="collapseExample") Variaciones
                	i(class="fa fa-caret-down")
                ul(id="variaciones" class="items-collapse collapse")
                	li
                		a(href="#") Item 1
                -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><partial-footer></partial-footer>
  </body>
</html>