<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <a href="/">
          IMG DE LA WEB
        </a>
        <ul>
          <li>
            <div class="fb-background">
              <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/german.flores.5661" data-width="460" data-hide-cover="false"
                data-show-facepile="true" data-show-posts="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=456&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FEloBoostNet&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;width=460">
                <span style="vertical-align: bottom; width: 456px; height: 214px;">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=450&height=256&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="450" height="256" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 pull-right">
        <h2>Contact Us</h2>
        <form method="POST" action="https://elo-boost.net/contact" accept-charset="UTF-8" id="ajaxContactForm">
          <input name="_token" type="hidden" value="1UavhbYLpz0rvijvmOYORxlMbVdtw5cYoLzg0L6f">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <select class="form-control" name="category">
                <option value="Question">Question</option>
                <option value="Order Issue">Order Issue</option>
                <option value="Coaching">Coaching</option>
                <option value="Boosters Recruitment">Boosters Recruitment</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Your email" name="email" type="text" value="">
            </div>
            <div id="contact-message"></div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <textarea class="form-control" rows="6" placeholder="Message" name="message" cols="50"></textarea>
            </div>
          </div>
          <input class="btn btn-gray" type="submit" value="Send">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <p>© 2017 - GLSP Boost</p>
      </div>
      <div class="col-lg-8 pull-right">
        <p>League of Legends is a registered trademark of Riot Games, Inc. We are in no way affiliated with, associated with
          or endorsed by Riot Games, Inc.</p>
      </div>
    </div>
  </div>
</footer>